* {
  outline: none;
  list-style-type: none;
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #eec1c7;
}

a {
  color: initial;
  text-decoration: none;
}

/*----------Variables-------------*/
/*----------Mixins----------------*/
/*-----------HEADER-------------*/
header {
  background: linear-gradient(to left, #982dfc, #ee8e11);
}

.header-header {
  display: flex;
  justify-content: space-around;
}

.logo {
  font-size: 2.3rem;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}
.search-input {
  width: 400px;
  height: 30px;
  font-size: 1.1rem;
}
.search-icon {
  height: 34px;
  margin-left: -5px;
  font-size: 1.2rem;
  background: white;
  border: none;
  border-left: black solid 1.5px;
  cursor: pointer;
  transition: 0.3s;
}
.search-icon:hover {
  filter: brightness(85%);
}

.comptes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.comptes-container {
  text-align: center;
  margin: 13px;
  font-size: 1.1rem;
  transition: 0.2s;
}
.comptes-container:hover {
  filter: brightness(85%);
  cursor: pointer;
}

.fa-heart, .fa-user, .fa-shopping-cart {
  color: white;
  padding-bottom: 5px;
}

.compte-text a {
  color: white;
}

.header-products-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  font-size: 1.2rem;
  background: #eec1c7;
  margin: 0;
  padding: 5px 0;
  border-bottom: black solid 1.5px;
}
.header-products-list li:hover {
  text-decoration: underline;
}

/*-----------FOOTER-------------*/
.faq {
  width: 90%;
  height: 75px;
  margin: 50px auto 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to left, #982dfc, #ee8e11);
}
.faq-title {
  font-size: 2.2rem;
  letter-spacing: 3px;
  text-decoration: underline;
}
.faq-text {
  font-size: 1.1rem;
  margin-left: -40px;
}
.faq-btn {
  width: 100px;
  height: 35px;
  margin-left: -20px;
  font-size: 1.3rem;
  cursor: pointer;
  background: #e5bfff;
  border: none;
  border-radius: 10px;
  transition: 0.4s;
}
.faq-btn:hover {
  transform: scale(1.1);
  filter: brightness(90%);
}

.social-newletter {
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: #ab8bf8;
  padding-bottom: 20px;
}
.social-media {
  width: 35%;
  margin-left: 50px;
}
.social-media-title {
  font-size: 1.5rem;
}
.social-media-text {
  font-size: 0.9rem;
}
.social-media-list {
  display: flex;
  justify-content: space-around;
  font-size: 1.6rem;
  padding: 0;
}

.fab {
  transition: 0.3s;
}
.fab:hover {
  color: white;
}

.newletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  border-left: black solid 1.5px;
}
.newletter-title {
  font-size: 1.5rem;
  margin-bottom: 0;
}
.newletter-text {
  font-size: 0.9rem;
  width: 80%;
  margin: 20px 0;
}
.newletter-email-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.newletter-email {
  width: 40%;
  height: 22px;
  font-size: 1.2rem;
  padding-left: 5px;
}
.newletter-btn {
  height: 28px;
  margin-left: -5px;
  cursor: pointer;
}

.footer-footer-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ab8bf8;
  height: 45px;
  padding: 0;
  margin: 0;
  border-top: black solid 1.5px;
}
.footer-footer-list li:hover {
  text-decoration: underline;
}

/*-------------INDEX----------------*/
/*----------ASIDE-bears+------------*/
.bearsplus-container {
  background: url("../backend/JWDP5-master/images/teddy_bg.png");
  object-fit: cover;
  height: 300px;
}

.bearsplus {
  position: absolute;
  top: 200px;
  left: 200px;
  background: #f39519;
  width: 270px;
  height: 150px;
  text-align: center;
  border-radius: 20px;
  box-shadow: gray 1px 1px 4px;
}
.bearsplus-title {
  font-size: 1.1rem;
  width: 85%;
  margin: 15px auto;
}
.bearsplus-btn {
  margin-top: 10px;
  font-size: 1rem;
  border: #868686 solid 1px;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px 10px;
  background: white;
  transition: 0.3s;
}
.bearsplus-btn:hover {
  background: #ab8bf8;
  color: white;
}

/*----------ASIDE-bears+------------*/
/*---------SECTION-produits---------*/
.products {
  text-align: center;
  font-size: 1.7rem;
}

.all-bears {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.bear {
  background: violet;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: 300px;
  border-radius: 20px;
  box-shadow: #636262 4px 3px 10px;
  margin-bottom: 40px;
}
.bear-image-container {
  width: 50%;
  height: 40%;
}
.bear-image-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 6px;
}
.bear-description {
  margin-bottom: 5px;
}
.bear-panier-btn {
  width: 45%;
  height: 30px;
  font-size: 1rem;
  cursor: pointer;
  background: #e5bfff;
  border: none;
  border-radius: 10px;
  transition: 0.4s;
}
.bear-panier-btn:hover {
  transform: scale(1.1);
  filter: brightness(90%);
}

.fa-star {
  color: yellow;
  margin-bottom: 25px;
}
.fa-star:nth-child(5) {
  color: #b1afaf;
}

/*---------SECTION-produits---------*/
/*----------ASIDE-promos-----------*/
.promotions {
  background: linear-gradient(to left, #982dfc, #ee8e11);
  width: 80%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: grey 2px 2px 7px;
}
.promotions-title {
  font-size: 1.7rem;
  color: #f5f1f1;
}
.promotions-btn {
  margin-left: -70px;
  width: 200px;
  height: 35px;
  font-size: 1.3rem;
  cursor: pointer;
  background: #e5bfff;
  border: none;
  border-radius: 10px;
  transition: 0.4s;
}
.promotions-btn:hover {
  transform: scale(1.1);
  filter: brightness(90%);
}

/*----------ASIDE-promos-----------*/
/*-------SECTION-boutiques---------*/
.shop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  height: 400px;
}

.other-shop {
  width: 100%;
  height: 40px;
  font-size: 1.7rem;
  margin-bottom: 0;
}
.other-shop-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 270px;
  background: violet;
  /*bg img ?*/
  border-radius: 20px;
  box-shadow: #636262 4px 3px 10px;
}
.other-shop-title {
  font-size: 1.6rem;
  margin-bottom: 0;
  /*font family ?*/
}
.other-shop-btn {
  margin-bottom: 30px;
  width: 40%;
  height: 30px;
  font-size: 1.1rem;
  cursor: pointer;
  background: #e5bfff;
  border: none;
  border-radius: 10px;
  transition: 0.4s;
}
.other-shop-btn:hover {
  transform: scale(1.1);
  filter: brightness(90%);
}

/*-------SECTION-boutiques---------*/
/*-------------INDEX----------------*/
/*-------------PRODUCT-PAGE----------------*/
.product-bear-container {
  display: flex;
  justify-content: space-around;
}
.product-bear-image {
  margin: 30px 20px 20px;
  width: 25%;
  height: 400px;
  object-fit: cover;
}
.product-description-content {
  width: 65%;
  padding-top: 50px;
}
.product-description-title {
  margin-top: 0;
}
.product-price {
  display: flex;
  background: #ab8bf8;
  border: black solid 1.5px;
  padding: 10px;
  margin-top: 50px;
  height: 150px;
}
.product-price-container {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.product-price-number {
  padding-left: 15px;
  height: 20%;
  width: 50%;
}
.product-price-color {
  height: 20%;
  width: 35%;
}
.product-price-price {
  width: 100%;
  margin: 0;
  padding-left: 15px;
}
.product-price-btn {
  margin: 0 auto;
  height: 35px;
  width: 40%;
  font-size: 1.2rem;
  cursor: pointer;
  background: #e5bfff;
  border: none;
  border-radius: 10px;
  transition: 0.4s;
}
.product-price-btn:hover {
  transform: scale(1.1);
  filter: brightness(90%);
}
.product-price-livraison {
  border-left: black solid 1.5px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#product-number {
  height: 80%;
  width: 20%;
  padding-left: 5px;
  font-size: 1.1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
#product-color {
  width: 80%;
  height: 100%;
  padding-left: 10px;
  font-size: 1.1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.product-sub-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.product-sub-bearplus {
  width: 25%;
  height: 40px;
  margin: 10px 0 0 15px;
  font-size: 1.2rem;
  border: #868686 solid 1px;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px 10px;
  background: #e5bfff;
  transition: 0.3s;
  box-shadow: gray 2px 2px 5px;
}
.product-sub-bearplus:hover {
  background: #ab8bf8;
  color: white;
}
.product-sub-content {
  width: 65%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.product-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-icon-text {
  margin-bottom: 0;
}

.product-caracteristic {
  text-align: center;
  margin-top: 100px;
}
.product-caracteristic-title {
  font-size: 1.7rem;
}
.product-caracteristic-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 25px;
  font-size: 1.2rem;
  background: #e5bfff;
  margin: 20px auto;
}

/*-------------PRODUCT-PAGE----------------*/
/*-------------PANIER-PAGE----------------*/
/*-------------HEADER----------------*/
.header-panier-container {
  display: flex;
  align-items: center;
  width: 50%;
}
.header-panier-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}
.header-panier-content .fa-shopping-cart {
  color: lightgray;
}
.header-panier-text {
  color: lightgray;
  font-size: 1.1rem;
}
.header-panier-separator {
  margin: 0 7px;
  font-size: 1.5rem;
  color: white;
}

.header-livraison-text {
  color: white;
  font-size: 1.1rem;
}

.fa-truck {
  color: white;
  padding-bottom: 5px;
}

/*-------------HEADER----------------*/
/*-------------SECTION-panier----------------*/
/*-------------SECTION-panier----------------*/
/*-------------SECTION-validation----------------*/
/*-------------SECTION-validation----------------*/
/*-------------ASIDE ?----------------*/
/*-------------ASIDE ?----------------*/
/*----------SECTION-article-similaires ?-------------*/
/*----------SECTION-article-similaires ?-------------*/
/*-------------FOOTER----------------*/
/*-------------FOOTER----------------*/
/*-------------PANIER-PAGE----------------*/

/*# sourceMappingURL=style.css.map */
