* {
  outline: none;
  list-style-type: none;
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #eec1c7;
}

a {
  color: initial;
  text-decoration: none;
}

/*----------Variables-------------*/
/*----------Mixins----------------*/
/*---------Mixins media queries-------------*/
/*-----------HEADER-------------*/
header {
  background: linear-gradient(to left, #982dfc, #ee8e11);
}

.header-header {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 800px) {
  .header-header {
    flex-direction: column;
    align-items: center;
  }
}

.logo, .logo a {
  font-size: 3rem;
  font-family: "Dancing Script", cursive;
}
@media screen and (max-width: 800px) {
  .logo, .logo a {
    font-size: 4rem;
    margin-bottom: 15px;
  }
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  width: 35%;
}
@media screen and (max-width: 1024px) {
  .search {
    margin-left: 20px;
  }
}
@media screen and (max-width: 800px) {
  .search {
    width: 85%;
  }
}
.search-input {
  width: 100%;
  height: 30px;
  font-size: 1.1rem;
}
.search-icon {
  height: 34px;
  margin-left: -5px;
  font-size: 1.2rem;
  background: white;
  border: none;
  border-left: black solid 1.5px;
  cursor: pointer;
  transition: 0.3s;
}
.search-icon:hover {
  filter: brightness(85%);
}

.comptes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
@media screen and (max-width: 800px) {
  .comptes {
    justify-content: space-around;
    width: 80%;
    margin: 20px 0;
  }
}
.comptes-container {
  text-align: center;
  margin: 13px;
  font-size: 1.1rem;
  transition: 0.2s;
}
@media screen and (max-width: 1024px) {
  .comptes-container {
    font-size: 0.95rem;
    margin: 10px;
  }
}
@media screen and (max-width: 800px) {
  .comptes-container {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 500px) {
  .comptes-container {
    font-size: 1rem;
  }
}
.comptes-container:hover {
  filter: brightness(85%);
  cursor: pointer;
}

.fa-heart, .fa-user, .fa-shopping-cart {
  color: white;
  padding-bottom: 5px;
}

.compte-text a {
  color: white;
}

.header-products-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  font-size: 1.2rem;
  background: #eec1c7;
  margin: 0;
  padding: 5px 0;
  border-bottom: black solid 1.5px;
}
@media screen and (max-width: 800px) {
  .header-products-list {
    font-size: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .header-products-list {
    text-align: center;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 500px) {
  .header-products-list li {
    margin: 0 5px;
  }
}
.header-products-list li:hover {
  text-decoration: underline;
}

/*-------------HEADER-panier----------------*/
.header-panier-container {
  display: flex;
  align-items: center;
  width: 50%;
}
@media screen and (max-width: 1024px) {
  .header-panier-container {
    width: 60%;
  }
}
@media screen and (max-width: 800px) {
  .header-panier-container {
    justify-content: center;
    width: 100%;
    margin: 20px 0;
  }
}
.header-panier-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}
@media screen and (max-width: 500px) {
  .header-panier-content {
    font-size: 0.9rem;
  }
}
.header-panier-content .fa-shopping-cart {
  color: lightgray;
}
.header-panier-text {
  color: lightgray;
  font-size: 1.1rem;
}
@media screen and (max-width: 500px) {
  .header-panier-text {
    font-size: 0.9rem;
  }
}
.header-panier-separator {
  margin: 0 7px;
  font-size: 1.5rem;
  color: white;
}
@media screen and (max-width: 500px) {
  .header-panier-separator {
    font-size: 1.1rem;
  }
}

.header-livraison-text {
  color: white;
  font-size: 1.1rem;
}
@media screen and (max-width: 500px) {
  .header-livraison-text {
    font-size: 0.9rem;
    text-align: center;
  }
}

.fa-truck {
  color: white;
  padding-bottom: 5px;
}

/*-------------HEADER-panier----------------*/
/*-----------FOOTER-------------*/
.faq {
  width: 90%;
  height: 75px;
  margin: 50px auto 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to left, #982dfc, #ee8e11);
}
@media screen and (max-width: 500px) {
  .faq {
    width: 100%;
  }
}
.faq-title {
  font-size: 2.2rem;
  letter-spacing: 3px;
  text-decoration: underline;
}
@media screen and (max-width: 800px) {
  .faq-title {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 500px) {
  .faq-title {
    display: none;
  }
}
.faq-text {
  font-size: 1.2rem;
  margin-left: -40px;
  width: 55%;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .faq-text {
    font-size: 1rem;
    margin-left: -20px;
  }
}
@media screen and (max-width: 500px) {
  .faq-text {
    font-size: 0.9rem;
  }
}
.faq-btn {
  width: 10%;
  height: 35px;
  margin-left: -20px;
  font-size: 1.3rem;
  cursor: pointer;
  background: #e5bfff;
  border: none;
  border-radius: 10px;
  transition: 0.4s;
}
.faq-btn:hover {
  transform: scale(1.1);
  filter: brightness(90%);
}
@media screen and (max-width: 800px) {
  .faq-btn {
    width: 15%;
  }
}
@media screen and (max-width: 500px) {
  .faq-btn {
    width: 20%;
  }
}

.social-newletter {
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: #ab8bf8;
  padding-bottom: 20px;
}
@media screen and (max-width: 800px) {
  .social-newletter {
    flex-direction: column;
    align-items: center;
  }
}
.social-media {
  width: 35%;
  margin-left: 50px;
}
@media screen and (max-width: 1024px) {
  .social-media {
    margin-left: 10px;
  }
}
@media screen and (max-width: 800px) {
  .social-media {
    width: 90%;
  }
}
.social-media-title {
  font-size: 1.5rem;
}
.social-media-text {
  font-size: 0.9rem;
}
.social-media-list {
  display: flex;
  justify-content: space-around;
  font-size: 1.6rem;
  padding: 0;
}

.fa-facebook, .fa-twitter, .fa-youtube, .fa-instagram {
  transition: 0.3s;
}
.fa-facebook:hover, .fa-twitter:hover, .fa-youtube:hover, .fa-instagram:hover {
  color: white;
}

.newletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  border-left: black solid 1.5px;
}
@media screen and (max-width: 1024px) {
  .newletter {
    width: 55%;
  }
}
@media screen and (max-width: 800px) {
  .newletter {
    width: 90%;
    border-left: none;
    border-top: black solid 1.5px;
  }
}
.newletter-title {
  font-size: 1.5rem;
  margin-bottom: 0;
}
.newletter-text {
  font-size: 0.9rem;
  width: 80%;
  margin: 20px 0;
}
@media screen and (max-width: 800px) {
  .newletter-text {
    width: 90%;
  }
}
.newletter-email-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.newletter-email {
  width: 40%;
  height: 22px;
  font-size: 1.2rem;
  padding-left: 5px;
}
@media screen and (max-width: 500px) {
  .newletter-email {
    width: 60%;
  }
}
.newletter-btn {
  height: 28px;
  margin-left: -5px;
  cursor: pointer;
}
.newletter label {
  margin-top: 10px;
}

.footer-footer-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ab8bf8;
  height: 45px;
  padding: 0;
  margin: 0;
  border-top: black solid 1.5px;
}
@media screen and (max-width: 800px) {
  .footer-footer-list {
    flex-wrap: wrap;
    font-size: 0.9rem;
    height: 55px;
  }
}
@media screen and (max-width: 500px) {
  .footer-footer-list {
    font-size: 0.75rem;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 800px) {
  .footer-footer-list li {
    margin: 5px 10px 2px;
  }
}
.footer-footer-list li:hover {
  text-decoration: underline;
}

/*-------------INDEX----------------*/
/*----------ASIDE-bears+------------*/
.bearsplus-container {
  background: url("../../backend/images/teddy_bg.png");
  object-fit: cover;
  height: 300px;
}

.bearsplus {
  position: absolute;
  top: 220px;
  left: 197px;
  background: #f1965b;
  width: 270px;
  height: 150px;
  text-align: center;
  border-radius: 20px;
  box-shadow: gray 1px 1px 2px;
}
@media screen and (max-width: 800px) {
  .bearsplus {
    top: 370px;
  }
}
@media screen and (max-width: 500px) {
  .bearsplus {
    top: 410px;
    left: 15%;
  }
}
@media screen and (max-width: 350px) {
  .bearsplus {
    left: 10%;
  }
}
.bearsplus-title {
  font-size: 1.1rem;
  width: 85%;
  margin: 15px auto;
}
.bearsplus-btn {
  margin-top: 10px;
  font-size: 1rem;
  border: #868686 solid 1px;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px 10px;
  background: white;
  transition: 0.3s;
}
.bearsplus-btn:hover {
  background: #ab8bf8;
  color: white;
}

/*----------ASIDE-bears+------------*/
/*---------SECTION-produits---------*/
.all-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.all-products-title {
  text-align: center;
  font-size: 1.7rem;
  width: 100%;
}

.all-bears {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.bear {
  background: #ab8bf8;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28%;
  height: 350px;
  border-radius: 20px;
  box-shadow: #636262 4px 3px 10px;
  margin-bottom: 40px;
}
@media screen and (max-width: 1024px) {
  .bear {
    width: 30%;
  }
}
@media screen and (max-width: 800px) {
  .bear {
    width: 38%;
  }
}
@media screen and (max-width: 500px) {
  .bear {
    width: 70%;
  }
}
.bear-image-container {
  width: 55%;
  height: 130px;
  margin-top: 20px;
}
.bear-image-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-top: 5px;
}
@media screen and (max-width: 800px) {
  .bear-title {
    margin-top: 10px;
  }
}
.bear-description {
  margin: 0 0 10px 0;
  padding: 0 5px;
  text-align: center;
  font-size: 0.9rem;
}
@media screen and (max-width: 1024px) {
  .bear-description {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 1024px) {
  .bear-star {
    font-size: 2rem;
  }
}
.bear-wish-btn {
  width: 55%;
  height: 40px;
  font-size: 1rem;
  cursor: pointer;
  background: #e5bfff;
  border: none;
  border-radius: 10px;
  transition: 0.4s;
}
.bear-wish-btn:hover {
  transform: scale(1.1);
  filter: brightness(90%);
}
@media screen and (max-width: 1024px) {
  .bear-wish-btn {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 800px) {
  .bear-wish-btn {
    width: 65%;
  }
}

.fa-star {
  color: yellow;
  margin-bottom: 18px;
}
.fa-star:nth-child(5) {
  color: #b1afaf;
}
@media screen and (max-width: 1024px) {
  .fa-star {
    font-size: 0.8rem;
  }
}

/*---------SECTION-produits---------*/
/*----------ASIDE-promos-----------*/
.promotions {
  background: linear-gradient(to left, #982dfc, #ee8e11);
  width: 80%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: grey 2px 2px 7px;
}
@media screen and (max-width: 800px) {
  .promotions {
    width: 90%;
  }
}
.promotions-title {
  font-size: 1.7rem;
  color: white;
}
@media screen and (max-width: 1024px) {
  .promotions-title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 800px) {
  .promotions-title {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 500px) {
  .promotions-title {
    text-align: center;
    width: 55%;
  }
}
.promotions-btn {
  width: 25%;
  height: 35px;
  font-size: 1.3rem;
  cursor: pointer;
  background: #e5bfff;
  border: none;
  border-radius: 10px;
  transition: 0.4s;
}
.promotions-btn:hover {
  transform: scale(1.1);
  filter: brightness(90%);
}
@media screen and (max-width: 500px) {
  .promotions-btn {
    width: 30%;
    font-size: 1.1rem;
  }
}

/*----------ASIDE-promos-----------*/
/*-------SECTION-boutiques---------*/
.shop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.other-shop {
  width: 100%;
  height: 40px;
  font-size: 1.7rem;
}
@media screen and (max-width: 500px) {
  .other-shop {
    font-size: 1.4rem;
    margin-bottom: 30px;
  }
}
.other-shop-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  height: 270px;
  background: #ab8bf8;
  border-radius: 20px;
  box-shadow: #636262 4px 3px 10px;
}
@media screen and (max-width: 1024px) {
  .other-shop-container {
    width: 29%;
  }
}
@media screen and (max-width: 800px) {
  .other-shop-container {
    width: 42%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 500px) {
  .other-shop-container {
    width: 70%;
  }
}
.other-shop-title {
  font-size: 2rem;
  font-family: "Dancing Script", cursive;
  color: white;
  margin-bottom: 0;
}
.other-shop-description {
  font-size: 0.9rem;
  width: 85%;
}
.other-shop-btn {
  margin-bottom: 30px;
  width: 40%;
  height: 30px;
  font-size: 1.1rem;
  cursor: pointer;
  background: #e5bfff;
  border: none;
  border-radius: 10px;
  transition: 0.4s;
}
.other-shop-btn:hover {
  transform: scale(1.1);
  filter: brightness(90%);
}
@media screen and (max-width: 800px) {
  .other-shop-btn {
    font-size: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .other-shop-btn {
    width: 55%;
    font-size: 1.1rem;
  }
}

/*-------SECTION-boutiques---------*/
/*-------------INDEX----------------*/
/*-------------PRODUCT-PAGE----------------*/
.product-bear-container {
  display: flex;
  justify-content: space-around;
}
.product-bear-image {
  margin: 30px 20px 20px;
  width: 25%;
  height: 400px;
  object-fit: cover;
}
@media screen and (max-width: 1024px) {
  .product-bear-image {
    height: 300px;
  }
}
@media screen and (max-width: 800px) {
  .product-bear-image {
    height: 200px;
    width: 28%;
  }
}
@media screen and (max-width: 500px) {
  .product-bear-image {
    height: 170px;
    width: 40%;
  }
}
.product-description-content {
  width: 65%;
  padding-top: 10%;
  font-size: 1.3rem;
}
@media screen and (max-width: 800px) {
  .product-description-content {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 500px) {
  .product-description-content {
    font-size: 0.9rem;
    padding-top: 15%;
  }
}
.product-description-title {
  margin-top: 0;
}
.product-description-star {
  font-size: 1rem;
}
@media screen and (max-width: 800px) {
  .product-description-star {
    font-size: 0.8rem;
  }
}
.product-price {
  display: flex;
  background: #ab8bf8;
  border: black solid 1.5px;
  padding: 10px;
  margin: 30px auto 10px;
  height: 150px;
  width: 95%;
}
@media screen and (max-width: 1024px) {
  .product-price {
    margin-top: 30px;
  }
}
@media screen and (max-width: 800px) {
  .product-price {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 220px;
    width: 90%;
  }
}
.product-price-container {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .product-price-container {
    width: 90%;
    margin-top: 10px;
  }
}
.product-price-number {
  padding-left: 15px;
  height: 20%;
  width: 50%;
}
@media screen and (max-width: 800px) {
  .product-price-number {
    margin: 10px 0;
    height: 30%;
  }
}
.product-price-color {
  height: 20%;
  width: 35%;
}
@media screen and (max-width: 800px) {
  .product-price-color {
    height: 25%;
    margin-bottom: 5px;
  }
}
.product-price-price {
  width: 100%;
  margin: 0;
  padding-left: 25px;
  font-size: 1.2rem;
}
.product-price-btn {
  margin: 0 auto;
  height: 35px;
  width: 40%;
  font-size: 1.2rem;
  cursor: pointer;
  background: #e5bfff;
  border: none;
  border-radius: 10px;
  transition: 0.4s;
}
.product-price-btn:hover {
  transform: scale(1.1);
  filter: brightness(90%);
}
@media screen and (max-width: 1024px) {
  .product-price-btn {
    width: 47%;
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 800px) {
  .product-price-btn {
    margin: 10px auto;
    width: 55%;
    font-size: 1.05rem;
  }
}
@media screen and (max-width: 350px) {
  .product-price-btn {
    width: 60%;
  }
}
.product-price-livraison {
  border-left: black solid 1.5px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .product-price-livraison {
    padding-left: 10px;
  }
}
@media screen and (max-width: 800px) {
  .product-price-livraison {
    font-size: 0.9rem;
    margin-top: 30px;
    width: 90%;
    border-left: none;
    border-top: black solid 1.5px;
  }
}

#product-number {
  height: 80%;
  width: 20%;
  padding-left: 2px;
  font-size: 1.1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  #product-number {
    font-size: 1rem;
  }
}
@media screen and (max-width: 800px) {
  #product-number {
    width: 30%;
  }
}
#product-color {
  width: 80%;
  height: 100%;
  padding-left: 5px;
  font-size: 1.1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  #product-color {
    width: 100%;
  }
}

.product-sub-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .product-sub-container {
    flex-direction: column;
  }
}
.product-sub-bearplus {
  width: 25%;
  height: 55px;
  margin: 10px 0 0 15px;
  font-size: 1.2rem;
  border: #868686 solid 1px;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px 10px;
  background: #e5bfff;
  transition: 0.3s;
  box-shadow: gray 2px 2px 5px;
}
@media screen and (max-width: 800px) {
  .product-sub-bearplus {
    order: 2;
    width: 50%;
    margin-top: 25px;
    margin-left: 0;
  }
}
@media screen and (max-width: 500px) {
  .product-sub-bearplus {
    width: 70%;
  }
}
.product-sub-bearplus:hover {
  background: #ab8bf8;
  color: white;
}
.product-sub-content {
  width: 65%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}
@media screen and (max-width: 800px) {
  .product-sub-content {
    width: 100%;
  }
}
.product-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 500px) {
  .product-icon-container {
    margin: 0 10px;
  }
}
.product-icon-icon {
  font-size: 1.2rem;
}
@media screen and (max-width: 500px) {
  .product-icon-icon {
    font-size: 1rem;
  }
}
.product-icon-text {
  margin-top: 5px;
  font-size: 0.9rem;
}
@media screen and (max-width: 500px) {
  .product-icon-text {
    font-size: 0.7rem;
    text-align: center;
  }
}

/*-------------ASIDE----------------*/
.product-caracteristic {
  text-align: center;
  margin-top: 100px;
}
.product-caracteristic-title {
  font-size: 1.7rem;
}
.product-caracteristic-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 25px;
  font-size: 1.2rem;
  background: #e5bfff;
  margin: 20px auto;
}

/*-------------ASIDE----------------*/
/*-------------PRODUCT-PAGE----------------*/
/*-------------PANIER-PAGE----------------*/
/*-------------SECTION-panier----------------*/
.panier {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 800px) {
  .panier {
    flex-direction: column;
    align-items: center;
  }
}
.panier-container {
  width: 55%;
  margin: 73px 0 50px;
}
@media screen and (max-width: 800px) {
  .panier-container {
    width: 85%;
    margin-bottom: 0;
  }
}
.panier-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ab8bf8;
  border: black solid 1.5px;
  border-bottom: none;
}
.panier-title-title {
  font-size: 1.2rem;
  margin-left: 20px;
}
@media screen and (max-width: 500px) {
  .panier-title-title {
    font-size: 1rem;
    margin-right: 20px;
    text-align: center;
  }
}
.panier-title-suppr-all {
  margin-right: 20px;
  cursor: pointer;
  transition: 0.2s;
}
@media screen and (max-width: 500px) {
  .panier-title-suppr-all {
    font-size: 0.9rem;
    text-align: center;
  }
}
.panier-title-suppr-all i {
  margin-left: 5px;
}
.panier-title-suppr-all:hover {
  text-decoration: underline;
  color: white;
}
.panier-content {
  border: black solid 1.5px;
  border-bottom: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}
.panier-content-image {
  width: 25%;
  height: 80%;
  object-fit: cover;
  margin-left: 20px;
}
@media screen and (max-width: 500px) {
  .panier-content-image {
    height: 60%;
    width: 30%;
    margin-left: 10px;
  }
}
.panier-content-product {
  display: flex;
  flex-direction: column;
  width: 50%;
}
@media screen and (max-width: 500px) {
  .panier-content-product {
    margin-left: 10px;
  }
}
.panier-content-product-title {
  margin: 0;
  font-size: 1.2rem;
}
.panier-content-product-price {
  font-size: 1.5rem;
  margin-bottom: 0;
  margin-right: 40px;
  align-self: flex-end;
}
@media screen and (max-width: 500px) {
  .panier-content-product-price {
    font-size: 1.2rem;
  }
}
.panier-content-suppr {
  align-self: flex-start;
  margin: 10px 15px 0 0;
  cursor: pointer;
}
.panier-total {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  font-size: 1.2rem;
  border: black solid 1.5px;
  background: #ab8bf8;
}

/*-------------SECTION-panier----------------*/
/*-------------ASIDE-validation----------------*/
.recap {
  width: 32%;
  text-align: center;
  margin-top: 20px;
}
@media screen and (max-width: 800px) {
  .recap {
    width: 85%;
  }
}

.validation {
  width: 100%;
  height: 80%;
}
.validation-title {
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.validation-container {
  background: #ab8bf8;
}
.validation-promos {
  border: black solid 1.5px;
}
.validation-promos-title {
  margin: 15px 0 20px;
}
@media screen and (max-width: 800px) {
  .validation-promos-title {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 500px) {
  .validation-promos-title {
    font-size: 1rem;
  }
}
.validation-promos-promo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.validation-promos-promo-input {
  width: 60%;
  height: 25px;
  font-size: 1.1rem;
}
.validation-promos-promo-btn {
  height: 31px;
  margin-left: -5px;
  cursor: pointer;
}
.validation-recap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-left: black solid 1.5px;
  border-right: black solid 1.5px;
}
.validation-recap-text {
  width: 63%;
  margin: 0;
  padding: 50px 0 50px 10px;
  font-size: 1.05rem;
}
@media screen and (max-width: 800px) {
  .validation-recap-text {
    width: 50%;
    padding: 30px 10px;
    text-align: center;
    font-size: 1.2rem;
  }
}
.validation-recap-price {
  width: 20%;
  margin: 0;
  padding: 50px 30px 50px 0;
  font-size: 1.2rem;
}
@media screen and (max-width: 800px) {
  .validation-recap-price {
    padding: 30px 5px;
    width: 35%;
    font-size: 1.3rem;
  }
}
.validation-validation {
  border: black solid 1.5px;
  padding: 20px 0;
}
.validation-validation-btn {
  width: 65%;
  height: 40px;
  font-size: 1.2rem;
  cursor: pointer;
  background: #e5bfff;
  border: none;
  border-radius: 10px;
  transition: 0.4s;
}
.validation-validation-btn:hover {
  transform: scale(1.1);
  filter: brightness(90%);
}
@media screen and (max-width: 1024px) {
  .validation-validation-btn {
    height: 55px;
  }
}
@media screen and (max-width: 800px) {
  .validation-validation-btn {
    width: 50%;
  }
}
.validation-infos {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .validation-infos {
    flex-direction: column;
  }
}
@media screen and (max-width: 800px) {
  .validation-infos {
    flex-direction: row;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 500px) {
  .validation-infos {
    flex-direction: column;
  }
}
.validation-infos i {
  margin: 10px;
  font-size: 1.1rem;
}
.validation-infos-text {
  margin: 0 0 0 10px;
}

/*-------------ASIDE-validation----------------*/
/*-------------ASIDE-bears+----------------*/
.panier-bearsplus {
  width: 45%;
  height: 140px;
  margin-left: 8%;
  text-align: center;
  background: #e5bfff;
  border-radius: 20px;
  box-shadow: gray 2px 2px 6px;
}
@media screen and (max-width: 800px) {
  .panier-bearsplus {
    width: 70%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 500px) {
  .panier-bearsplus {
    width: 75%;
  }
}
.panier-bearsplus-text {
  margin: 0;
  padding: 15px 10px;
  font-size: 1.05rem;
}
@media screen and (max-width: 500px) {
  .panier-bearsplus-text {
    font-size: 0.85rem;
  }
}
.panier-bearsplus-btn {
  width: 45%;
  height: 35px;
  font-size: 1.35rem;
  background: #ab8bf8;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  box-shadow: gray 2px 2px 4px;
  transition: 0.3s;
}
@media screen and (max-width: 500px) {
  .panier-bearsplus-btn {
    font-size: 1.1rem;
    width: 55%;
  }
}
.panier-bearsplus-btn:hover {
  transform: scale(1.1);
  color: white;
}

/*-------------ASIDE-bears+----------------*/
/*----------SECTION-article-similaires ?-------------*/
/*----------SECTION-article-similaires ?-------------*/
/*-------------PANIER-PAGE----------------*/
/*-------------PAIEMENT-PAGE----------------*/
/*-------------HEADER----------------*/
/*-------------HEADER----------------*/
/*-------------MAIN----------------*/
.paiement-page {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.livraison-paiement-container {
  width: 55%;
}
@media screen and (max-width: 800px) {
  .livraison-paiement-container {
    width: 85%;
  }
}

/*-------------MAIN----------------*/
/*-------------SECTION-formulaire----------------*/
.formulaire {
  width: 95%;
  height: 580px;
  margin: 30px 0;
}
@media screen and (max-width: 350px) {
  .formulaire {
    height: 700px;
  }
}
.formulaire-title {
  text-align: center;
  font-size: 1.7rem;
}
.formulaire-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: #ab8bf8;
  border: black solid 1.5px;
  height: 85%;
  width: 90%;
  margin: auto;
}
.formulaire-container-title {
  margin-bottom: 5px;
  font-size: 1.2rem;
}
.formulaire-container-input {
  height: 30px;
  border-radius: 10px;
  border: none;
  padding-left: 5px;
  font-size: 1rem;
}
.formulaire-container-input:focus {
  border: lime solid 1.5px;
}
@media screen and (max-width: 500px) {
  .formulaire-container-input {
    font-size: 0.7rem;
  }
}
.formulaire-container-subtext {
  visibility: hidden;
  background: #e5bfff;
  font-size: 0.9rem;
  border-radius: 5px;
  width: 40%;
  margin: 5px auto 0;
  padding: 2px 0;
  color: red;
  opacity: 0;
  transition: 0.2s;
  text-align: center;
}

.first-name-container, .last-name-container {
  width: 45%;
}
@media screen and (max-width: 350px) {
  .first-name-container, .last-name-container {
    width: 60%;
  }
}

.address-container, .city-container, .mail-container {
  width: 60%;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 12%;
  margin: 10px 5px;
}

/*-------------SECTION-formulaire----------------*/
/*-------------SECTION-livraison----------------*/
.livraison {
  margin-top: 40px;
}
.livraison-title {
  font-size: 1.3rem;
  margin-bottom: 10px;
  margin-left: 10px;
}
.livraison-container {
  background: #ab8bf8;
  text-align: center;
}
.livraison-container-standart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
  border: black solid 1.5px;
}
@media screen and (max-width: 500px) {
  .livraison-container-standart {
    flex-direction: column;
  }
}
.livraison-container-standart-text {
  font-size: 1rem;
}
@media screen and (max-width: 500px) {
  .livraison-container-standart-text {
    margin: 0 5px;
  }
}
.livraison-container-standart-address {
  width: 35%;
  height: 30px;
  font-size: 1rem;
  box-shadow: gray 1px 1px 4px;
  cursor: pointer;
  background: #e5bfff;
  border: none;
  border-radius: 10px;
  transition: 0.4s;
}
.livraison-container-standart-address:hover {
  transform: scale(1.1);
  filter: brightness(90%);
}
@media screen and (max-width: 1024px) {
  .livraison-container-standart-address {
    height: 40px;
    margin: 0 20px;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 500px) {
  .livraison-container-standart-address {
    margin: 20px 0;
    width: 50%;
  }
}
.livraison-container-standart-price {
  font-size: 1rem;
}
@media screen and (max-width: 1024px) {
  .livraison-container-standart-price {
    margin-right: 5px;
  }
}
.livraison-container-express {
  /*-----enlever boutons---*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
  border-left: black solid 1.5px;
  border-right: black solid 1.5px;
}
@media screen and (max-width: 500px) {
  .livraison-container-express {
    flex-direction: column;
  }
}
.livraison-container-express-text {
  font-size: 1rem;
}
@media screen and (max-width: 500px) {
  .livraison-container-express-text {
    margin: 0 5px;
  }
}
.livraison-container-express-address {
  width: 35%;
  height: 30px;
  font-size: 1rem;
  box-shadow: gray 1px 1px 4px;
  cursor: pointer;
  background: #e5bfff;
  border: none;
  border-radius: 10px;
  transition: 0.4s;
}
.livraison-container-express-address:hover {
  transform: scale(1.1);
  filter: brightness(90%);
}
@media screen and (max-width: 1024px) {
  .livraison-container-express-address {
    height: 40px;
    margin: 0 20px;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 500px) {
  .livraison-container-express-address {
    margin: 20px 0;
    width: 50%;
  }
}
.livraison-container-express-price {
  font-size: 1rem;
}
@media screen and (max-width: 1024px) {
  .livraison-container-express-price {
    margin-right: 5px;
  }
}
.livraison-container-relais {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
  border: black solid 1.5px;
}
@media screen and (max-width: 500px) {
  .livraison-container-relais {
    flex-direction: column;
  }
}
.livraison-container-relais-text {
  font-size: 1rem;
}
@media screen and (max-width: 500px) {
  .livraison-container-relais-text {
    margin: 0 5px;
  }
}
.livraison-container-relais-address {
  width: 35%;
  height: 30px;
  font-size: 1rem;
  box-shadow: gray 1px 1px 4px;
  cursor: pointer;
  background: #e5bfff;
  border: none;
  border-radius: 10px;
  transition: 0.4s;
}
.livraison-container-relais-address:hover {
  transform: scale(1.1);
  filter: brightness(90%);
}
@media screen and (max-width: 1024px) {
  .livraison-container-relais-address {
    height: 40px;
    margin: 0 20px;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 500px) {
  .livraison-container-relais-address {
    margin: 20px 0;
    width: 50%;
  }
}
.livraison-container-relais-price {
  font-size: 1rem;
}
@media screen and (max-width: 1024px) {
  .livraison-container-relais-price {
    margin-right: 5px;
  }
}
.livraison-container-relais-address {
  margin-left: 10%;
}
@media screen and (max-width: 1024px) {
  .livraison-container-relais-address {
    margin-left: 15%;
  }
}
@media screen and (max-width: 500px) {
  .livraison-container-relais-address {
    margin-left: 0;
  }
}

/*-------------SECTION-livraison----------------*/
/*-------------SECTION-paiement----------------*/
.paiement {
  margin-top: 40px;
}
.paiement-title {
  font-size: 1.3rem;
  margin-bottom: 10px;
  margin-left: 10px;
}
.paiement-card {
  border: black solid 1.5px;
  border-bottom: dotted black 2px;
  background: #ab8bf8;
  padding: 20px 15px;
}
.paiement-card-text {
  font-size: 1.2rem;
}
.paiement-facturation {
  border: black solid 1.5px;
  border-bottom: dotted black 2px;
  border-top: none;
  background: #ab8bf8;
  text-align: center;
  padding: 10px;
}
@media screen and (max-width: 500px) {
  .paiement-facturation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.paiement-facturation-text {
  font-size: 0.9rem;
}
.paiement-facturation-btn {
  margin: 15px 0 5px;
  width: 50%;
  height: 30px;
  font-size: 1.1rem;
  cursor: pointer;
  background: #e5bfff;
  border: none;
  border-radius: 10px;
  transition: 0.4s;
}
.paiement-facturation-btn:hover {
  transform: scale(1.1);
  filter: brightness(90%);
}
@media screen and (max-width: 1024px) {
  .paiement-facturation-btn {
    width: 55%;
  }
}
@media screen and (max-width: 500px) {
  .paiement-facturation-btn {
    width: 65%;
    height: 45px;
  }
}
.paiement-infos {
  border-right: black solid 1.5px;
  border-left: black solid 1.5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.paiement-infos-title {
  margin: 0;
  padding-top: 20px;
  font-size: 1.3rem;
}
.paiement-infos-dots {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.paiement-infos-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
  background: #ab8bf8;
  margin-bottom: 10px;
  border-radius: 20px;
  box-shadow: gray 3px 3px 8px;
}
@media screen and (max-width: 1024px) {
  .paiement-infos-card {
    width: 65%;
  }
}
@media screen and (max-width: 800px) {
  .paiement-infos-card {
    width: 60%;
  }
}
.paiement-infos-card-title {
  width: 100%;
  font-size: 1.2rem;
}
.paiement-infos-card-numero {
  width: 85%;
  background: none;
  border: none;
  border-bottom: black solid 1.5px;
  color: white;
  font-size: 0.8rem;
}
@media screen and (max-width: 800px) {
  .paiement-infos-card-numero {
    font-size: 0.7rem;
  }
}
.paiement-infos-card-numero::placeholder {
  color: white;
}
.paiement-infos-card-date {
  width: 33%;
  margin: 15px 10px;
  background: none;
  border: none;
  border-bottom: black solid 1.5px;
  color: white;
  font-size: 0.8rem;
}
@media screen and (max-width: 800px) {
  .paiement-infos-card-date {
    font-size: 0.7rem;
  }
}
.paiement-infos-card-date::placeholder {
  color: white;
}
@media screen and (max-width: 500px) {
  .paiement-infos-card-date {
    width: 85%;
    margin: 15px 0;
  }
}
.paiement-infos-card-crypto {
  width: 43%;
  margin: 15px 10px;
  background: none;
  border: none;
  border-bottom: black solid 1.5px;
  color: white;
  font-size: 0.8rem;
}
@media screen and (max-width: 800px) {
  .paiement-infos-card-crypto {
    font-size: 0.7rem;
  }
}
.paiement-infos-card-crypto::placeholder {
  color: white;
}
@media screen and (max-width: 500px) {
  .paiement-infos-card-crypto {
    width: 85%;
    margin: 0 0 15px;
  }
}
.paiement-infos-card-nom {
  width: 85%;
  margin-bottom: 25px;
  background: none;
  border: none;
  border-bottom: black solid 1.5px;
  color: white;
  font-size: 0.8rem;
}
@media screen and (max-width: 800px) {
  .paiement-infos-card-nom {
    font-size: 0.7rem;
  }
}
.paiement-infos-card-nom::placeholder {
  color: white;
}
.paiement-infos-futur-card {
  font-size: 0.9rem;
  margin: 10px 0 20px;
}
.paiement-infos-btn {
  margin-bottom: 20px;
  width: 50%;
  height: 40px;
  font-size: 1.3rem;
  box-shadow: gray 1px 1px 4px;
  cursor: pointer;
  background: #e5bfff;
  border: none;
  border-radius: 10px;
  transition: 0.4s;
}
.paiement-infos-btn:hover {
  transform: scale(1.1);
  filter: brightness(90%);
}
@media screen and (max-width: 1024px) {
  .paiement-infos-btn {
    width: 55%;
  }
}
@media screen and (max-width: 500px) {
  .paiement-infos-btn {
    font-size: 1.1rem;
    height: 45px;
  }
}
.paiement-paypal {
  border: black solid 1.5px;
  background: #ab8bf8;
  padding: 20px 15px;
}
.paiement-paypal-text {
  font-size: 1.2rem;
}

/*-------------SECTION-paiement----------------*/
/*-------------PAIEMENT-PAGE----------------*/
/*-------------CONFIRMATION-PAGE----------------*/
/*-------------HEADER----------------*/
.header-confirmation-title {
  display: flex;
  align-items: center;
  width: 50%;
  font-size: 1.8rem;
}
@media screen and (max-width: 800px) {
  .header-confirmation-title {
    width: 100%;
    justify-content: center;
    text-align: center;
  }
}

/*-------------HEADER----------------*/
/*-------------ASIDE----------------*/
.thank-container {
  text-align: center;
  margin-top: 50px;
}
@media screen and (max-width: 500px) {
  .thank-container {
    width: 90%;
    margin: 50px auto auto;
  }
}
.thank-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.thank-text {
  width: 90%;
  margin: 15px auto 0;
  text-align: center;
}

/*-------------ASIDE----------------*/
/*-------------SECTION----------------*/
.details-container {
  margin: 60px 0 15px 5%;
}
.details-container-title {
  margin-bottom: 10px;
}
.details-container-number {
  margin: 0 0 0 1%;
}
.details-container-date {
  margin: 5px 0 0 1%;
  color: #555454;
}
.details-product {
  display: flex;
  width: 80%;
  height: 150px;
  margin: 20px 0 30px 7%;
  padding: 10px 0 0 50px;
  border-top: black solid 1.5px;
}
@media screen and (max-width: 800px) {
  .details-product {
    padding-left: 30px;
  }
}
@media screen and (max-width: 500px) {
  .details-product {
    margin-bottom: 10px;
  }
}
.details-product-image {
  object-fit: cover;
  width: 15%;
}
@media screen and (max-width: 1024px) {
  .details-product-image {
    width: 20%;
  }
}
@media screen and (max-width: 800px) {
  .details-product-image {
    width: 30%;
  }
}
@media screen and (max-width: 500px) {
  .details-product-image {
    height: 80%;
    width: 37%;
  }
}
.details-product-product {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 500px) {
  .details-product-product {
    margin-left: 20px;
  }
}
.details-product-product-title {
  margin: 10px 0;
  font-size: 1.1rem;
}
.details-product-product-description {
  margin: 5px 0;
  font-size: 0.9rem;
}
.details-product-product-price {
  margin-top: 50%;
}
@media screen and (max-width: 500px) {
  .details-product-product-price {
    margin-top: 20%;
  }
}

.recap-container {
  display: flex;
  background: #ab8bf8;
}
@media screen and (max-width: 500px) {
  .recap-container {
    flex-direction: column;
  }
}
.recap-livraison {
  display: flex;
  justify-content: space-around;
  width: 50%;
  border-top: black solid 1.5px;
  border-bottom: black solid 1.5px;
}
@media screen and (max-width: 500px) {
  .recap-livraison {
    width: 100%;
  }
}
.recap-livraison-mode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recap-livraison-mode-title {
  font-size: 1.1rem;
  margin-bottom: 10px;
}
@media screen and (max-width: 800px) {
  .recap-livraison-mode-title {
    text-align: center;
    margin-right: 10px;
  }
}
.recap-livraison-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recap-livraison-date-title {
  font-size: 1.1rem;
  margin-bottom: 10px;
}
@media screen and (max-width: 800px) {
  .recap-livraison-date-title {
    text-align: center;
    margin-right: 10px;
  }
}
.recap-livraison-price {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  width: 50%;
  border: black solid 1.5px;
  border-right: none;
}
@media screen and (max-width: 500px) {
  .recap-livraison-price {
    width: 100%;
    border-top: none;
    border-left: none;
  }
}
.recap-livraison-price-text {
  width: 40%;
  margin: 10px 0;
  padding-top: 10px;
}
.recap-livraison-price-price {
  width: 30%;
  margin: 10px 0;
  padding-top: 10px;
}

.text-border {
  border-top: dotted black 2px;
}

/*-------------SECTION----------------*/
/*-------------SECTION-similaires?----------------*/
/*-------------SECTION-similaires?----------------*/
/*-------------CONFIRMATION-PAGE----------------*/
/*-------------COMPTE-PAGE----------------*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.create-account {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 70%;
  width: 45%;
  min-width: 330px;
  background-color: white;
  border: #313131 solid 1px;
  box-shadow: #ab8bf8 2px 2px 10px;
  border-radius: 30px;
}
@media screen and (max-width: 350px) {
  .create-account {
    min-width: 250px;
  }
}
.create-account-title {
  font-size: 1.7rem;
  margin: 20px 0;
}
@media screen and (max-width: 350px) {
  .create-account-title {
    font-size: 1.2rem;
  }
}
.create-account-input {
  background: #dde6e9;
  border: none;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  margin-top: 8px;
}
.create-account-input:focus {
  border: lime solid 1.5px;
}
.create-account-subtext {
  visibility: hidden;
  font-size: 0.75rem;
  margin-top: 5px;
  margin-bottom: 15px;
  color: red;
  opacity: 0;
  transition: 0.2s;
  text-align: center;
}

.name-container, .email-container, .password-container, .confirm-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  text-align: center;
}

input[type=submit] {
  font-size: 1.3rem;
  width: 40%;
  height: 40px;
  align-self: center;
  margin: 20px 0;
  box-shadow: grey 1px 1px 5px;
  cursor: pointer;
  background: #e5bfff;
  border: none;
  border-radius: 10px;
  transition: 0.4s;
}
input[type=submit]:hover {
  transform: scale(1.1);
  filter: brightness(90%);
}

h5 {
  visibility: hidden;
  height: 4px;
  background: red;
  margin: 3px 68% 0 0;
  transition: 0.4s;
}

.error input {
  color: red;
  border: #cf2525 solid 1px;
}
.error input:focus {
  border: red solid 2px;
}
.error span {
  visibility: visible;
  color: red;
  opacity: 1;
}

.progressRed {
  visibility: visible;
  background: red;
  width: 33%;
}

.progressBlue {
  visibility: visible;
  background: #17b5b8;
  margin-right: 33%;
  width: 66%;
}

.progressGreen {
  visibility: visible;
  background: #18bb18;
  margin-right: 0;
  width: 100%;
}

/*-------------COMPTE-PAGE----------------*/

/*# sourceMappingURL=style.css.map */
