* {
  outline: none;
  list-style-type: none;
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #eec1c7;
}

a {
  color: initial;
  text-decoration: none;
}

/*----------Variables-------------*/
/*----------Mixins----------------*/
/*---------Mixins media queries-------------*/
/*-----------HEADER-------------*/
header {
  background: linear-gradient(to left, #982dfc, #ee8e11);
}

.header-header {
  display: flex;
  justify-content: space-around;
}

.logo, .logo a {
  font-size: 3rem;
  font-family: "Dancing Script", cursive;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  width: 35%;
}
@media screen and (max-width: 1024px) {
  .search {
    margin-left: 10px;
  }
}
.search-input {
  width: 100%;
  height: 30px;
  font-size: 1.1rem;
}
.search-icon {
  height: 34px;
  margin-left: -5px;
  font-size: 1.2rem;
  background: white;
  border: none;
  border-left: black solid 1.5px;
  cursor: pointer;
  transition: 0.3s;
}
.search-icon:hover {
  filter: brightness(85%);
}

.comptes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.comptes-container {
  text-align: center;
  margin: 13px;
  font-size: 1.1rem;
  transition: 0.2s;
}
@media screen and (max-width: 1024px) {
  .comptes-container {
    font-size: 0.95rem;
    margin: 10px;
  }
}
.comptes-container:hover {
  filter: brightness(85%);
  cursor: pointer;
}

.fa-heart, .fa-user, .fa-shopping-cart {
  color: white;
  padding-bottom: 5px;
}

.compte-text a {
  color: white;
}

.header-products-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  font-size: 1.2rem;
  background: #eec1c7;
  margin: 0;
  padding: 5px 0;
  border-bottom: black solid 1.5px;
}
.header-products-list li:hover {
  text-decoration: underline;
}

/*-------------HEADER-panier----------------*/
.header-panier-container {
  display: flex;
  align-items: center;
  width: 50%;
}
@media screen and (max-width: 1024px) {
  .header-panier-container {
    width: 60%;
  }
}
.header-panier-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}
.header-panier-content .fa-shopping-cart {
  color: lightgray;
}
.header-panier-text {
  color: lightgray;
  font-size: 1.1rem;
}
.header-panier-separator {
  margin: 0 7px;
  font-size: 1.5rem;
  color: white;
}

.header-livraison-text {
  color: white;
  font-size: 1.1rem;
}

.fa-truck {
  color: white;
  padding-bottom: 5px;
}

/*-------------HEADER-panier----------------*/
/*-----------FOOTER-------------*/
.faq {
  width: 90%;
  height: 75px;
  margin: 50px auto 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to left, #982dfc, #ee8e11);
}
.faq-title {
  font-size: 2.2rem;
  letter-spacing: 3px;
  text-decoration: underline;
}
.faq-text {
  font-size: 1.1rem;
  margin-left: -40px;
}
@media screen and (max-width: 1024px) {
  .faq-text {
    font-size: 1rem;
    margin-left: -20px;
  }
}
.faq-btn {
  width: 100px;
  height: 35px;
  margin-left: -20px;
  font-size: 1.3rem;
  cursor: pointer;
  background: #e5bfff;
  border: none;
  border-radius: 10px;
  transition: 0.4s;
}
.faq-btn:hover {
  transform: scale(1.1);
  filter: brightness(90%);
}

.social-newletter {
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: #ab8bf8;
  padding-bottom: 20px;
}
.social-media {
  width: 35%;
  margin-left: 50px;
}
@media screen and (max-width: 1024px) {
  .social-media {
    margin-left: 10px;
  }
}
.social-media-title {
  font-size: 1.5rem;
}
.social-media-text {
  font-size: 0.9rem;
}
.social-media-list {
  display: flex;
  justify-content: space-around;
  font-size: 1.6rem;
  padding: 0;
}

.fa-facebook, .fa-twiter, .fa-youtube, .fa-instagram {
  transition: 0.3s;
}
.fa-facebook:hover, .fa-twiter:hover, .fa-youtube:hover, .fa-instagram:hover {
  color: white;
}

.newletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  border-left: black solid 1.5px;
}
@media screen and (max-width: 1024px) {
  .newletter {
    width: 55%;
  }
}
.newletter-title {
  font-size: 1.5rem;
  margin-bottom: 0;
}
.newletter-text {
  font-size: 0.9rem;
  width: 80%;
  margin: 20px 0;
}
.newletter-email-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.newletter-email {
  width: 40%;
  height: 22px;
  font-size: 1.2rem;
  padding-left: 5px;
}
.newletter-btn {
  height: 28px;
  margin-left: -5px;
  cursor: pointer;
}

.footer-footer-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ab8bf8;
  height: 45px;
  padding: 0;
  margin: 0;
  border-top: black solid 1.5px;
}
.footer-footer-list li:hover {
  text-decoration: underline;
}

/*-------------INDEX----------------*/
/*----------ASIDE-bears+------------*/
.bearsplus-container {
  background: url("../../backend/JWDP5-master/images/teddy_bg.png");
  object-fit: cover;
  height: 300px;
}

.bearsplus {
  position: absolute;
  top: 220px;
  left: 197px;
  background: #f1965b;
  width: 270px;
  height: 150px;
  text-align: center;
  border-radius: 20px;
  box-shadow: gray 1px 1px 2px;
}
.bearsplus-title {
  font-size: 1.1rem;
  width: 85%;
  margin: 15px auto;
}
.bearsplus-btn {
  margin-top: 10px;
  font-size: 1rem;
  border: #868686 solid 1px;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px 10px;
  background: white;
  transition: 0.3s;
}
.bearsplus-btn:hover {
  background: #ab8bf8;
  color: white;
}

/*----------ASIDE-bears+------------*/
/*---------SECTION-produits---------*/
.all-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.all-products-title {
  text-align: center;
  font-size: 1.7rem;
  width: 100%;
}

.all-bears {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 25%;
}
@media screen and (max-width: 1024px) {
  .all-bears {
    width: 28%;
  }
}

.bear {
  background: #ab8bf8;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 300px;
  border-radius: 20px;
  box-shadow: #636262 4px 3px 10px;
  margin-bottom: 40px;
}
.bear-image-container {
  width: 50%;
  height: 40%;
  margin-top: 10px;
}
.bear-image-image {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 5px;
}
.bear-description {
  margin: 0 0 10px 0;
}
.bear-panier-btn {
  width: 55%;
  height: 30px;
  font-size: 1rem;
  cursor: pointer;
  background: #e5bfff;
  border: none;
  border-radius: 10px;
  transition: 0.4s;
}
.bear-panier-btn:hover {
  transform: scale(1.1);
  filter: brightness(90%);
}
@media screen and (max-width: 1024px) {
  .bear-panier-btn {
    font-size: 0.9rem;
  }
}

.fa-star {
  color: yellow;
  margin-bottom: 25px;
}
.fa-star:nth-child(5) {
  color: #b1afaf;
}

/*---------SECTION-produits---------*/
/*----------ASIDE-promos-----------*/
.promotions {
  background: linear-gradient(to left, #982dfc, #ee8e11);
  width: 80%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: grey 2px 2px 7px;
}
.promotions-title {
  font-size: 1.7rem;
  color: white;
}
@media screen and (max-width: 1024px) {
  .promotions-title {
    font-size: 1.5rem;
  }
}
.promotions-btn {
  margin-left: -70px;
  width: 200px;
  height: 35px;
  font-size: 1.3rem;
  cursor: pointer;
  background: #e5bfff;
  border: none;
  border-radius: 10px;
  transition: 0.4s;
}
.promotions-btn:hover {
  transform: scale(1.1);
  filter: brightness(90%);
}
@media screen and (max-width: 1024px) {
  .promotions-btn {
    margin-left: -20px;
  }
}

/*----------ASIDE-promos-----------*/
/*-------SECTION-boutiques---------*/
.shop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.other-shop {
  width: 100%;
  height: 40px;
  font-size: 1.7rem;
}
.other-shop-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  height: 270px;
  background: #ab8bf8;
  border-radius: 20px;
  box-shadow: #636262 4px 3px 10px;
}
@media screen and (max-width: 1024px) {
  .other-shop-container {
    width: 29%;
  }
}
.other-shop-title {
  font-size: 2rem;
  font-family: "Dancing Script", cursive;
  color: white;
  margin-bottom: 0;
}
.other-shop-description {
  font-size: 0.9rem;
  width: 85%;
}
.other-shop-btn {
  margin-bottom: 30px;
  width: 40%;
  height: 30px;
  font-size: 1.1rem;
  cursor: pointer;
  background: #e5bfff;
  border: none;
  border-radius: 10px;
  transition: 0.4s;
}
.other-shop-btn:hover {
  transform: scale(1.1);
  filter: brightness(90%);
}

/*-------SECTION-boutiques---------*/
/*-------------INDEX----------------*/
/*-------------PRODUCT-PAGE----------------*/
.product-bear-container {
  display: flex;
  justify-content: space-around;
}
.product-bear-image {
  margin: 30px 20px 20px;
  width: 25%;
  height: 400px;
  object-fit: cover;
}
@media screen and (max-width: 1024px) {
  .product-bear-image {
    height: 300px;
  }
}
.product-description-content {
  width: 65%;
  padding-top: 50px;
}
.product-description-title {
  margin-top: 0;
}
.product-price {
  display: flex;
  background: #ab8bf8;
  border: black solid 1.5px;
  padding: 10px;
  margin-top: 70px;
  height: 150px;
}
@media screen and (max-width: 1024px) {
  .product-price {
    margin-top: 30px;
  }
}
.product-price-container {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.product-price-number {
  padding-left: 15px;
  height: 20%;
  width: 50%;
}
.product-price-color {
  height: 20%;
  width: 35%;
}
.product-price-price {
  width: 100%;
  margin: 0;
  padding-left: 15px;
}
.product-price-btn {
  margin: 0 auto;
  height: 35px;
  width: 40%;
  font-size: 1.2rem;
  cursor: pointer;
  background: #e5bfff;
  border: none;
  border-radius: 10px;
  transition: 0.4s;
}
.product-price-btn:hover {
  transform: scale(1.1);
  filter: brightness(90%);
}
@media screen and (max-width: 1024px) {
  .product-price-btn {
    width: 47%;
    font-size: 1.1rem;
  }
}
.product-price-livraison {
  border-left: black solid 1.5px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .product-price-livraison {
    padding-left: 10px;
    font-size: 0.85rem;
  }
}

#product-number {
  height: 80%;
  width: 20%;
  padding-left: 2px;
  font-size: 1.1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  #product-number {
    font-size: 1rem;
  }
}
#product-color {
  width: 80%;
  height: 100%;
  padding-left: 5px;
  font-size: 1.1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.product-sub-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.product-sub-bearplus {
  width: 25%;
  height: 55px;
  margin: 10px 0 0 15px;
  font-size: 1.2rem;
  border: #868686 solid 1px;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px 10px;
  background: #e5bfff;
  transition: 0.3s;
  box-shadow: gray 2px 2px 5px;
}
.product-sub-bearplus:hover {
  background: #ab8bf8;
  color: white;
}
.product-sub-content {
  width: 65%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -40px;
}
@media screen and (max-width: 1024px) {
  .product-sub-content {
    margin-top: 15px;
  }
}
.product-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-icon-icon {
  font-size: 1.1rem;
}
.product-icon-text {
  margin-top: 5px;
  font-size: 0.7rem;
}

.product-caracteristic {
  text-align: center;
  margin-top: 100px;
}
.product-caracteristic-title {
  font-size: 1.7rem;
}
.product-caracteristic-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 25px;
  font-size: 1.2rem;
  background: #e5bfff;
  margin: 20px auto;
}

/*-------------PRODUCT-PAGE----------------*/
/*-------------PANIER-PAGE----------------*/
/*-------------SECTION-panier----------------*/
.panier {
  display: flex;
  justify-content: space-around;
}
.panier-container {
  width: 55%;
  margin: 73px 0 50px;
}
.panier-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ab8bf8;
  border: black solid 1.5px;
  border-bottom: none;
}
.panier-title-title {
  font-size: 1.2rem;
  margin-left: 20px;
}
.panier-title-suppr-all {
  margin-right: 20px;
  cursor: pointer;
  transition: 0.2s;
}
.panier-title-suppr-all i {
  margin-left: 5px;
}
.panier-title-suppr-all:hover {
  text-decoration: underline;
  color: white;
}
.panier-content {
  border: black solid 1.5px;
  border-bottom: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}
.panier-content-image {
  width: 25%;
  height: 80%;
  object-fit: cover;
  margin-left: 20px;
}
.panier-content-product {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.panier-content-product-title {
  margin: 0;
  font-size: 1.2rem;
}
.panier-content-product-price {
  font-size: 1.5rem;
  margin-bottom: 0;
  margin-right: 40px;
  align-self: flex-end;
}
.panier-content-suppr {
  align-self: flex-start;
  margin: 10px 15px 0 0;
  cursor: pointer;
}
.panier-total {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  font-size: 1.2rem;
  border: black solid 1.5px;
  background: #ab8bf8;
}

/*-------------SECTION-panier----------------*/
/*-------------ASIDE-validation----------------*/
.recap {
  width: 32%;
  text-align: center;
  margin-top: 20px;
}

.validation {
  width: 100%;
  height: 80%;
}
.validation-title {
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.validation-container {
  background: #ab8bf8;
}
.validation-promos {
  border: black solid 1.5px;
}
.validation-promos-title {
  margin: 15px 0 20px;
}
.validation-promos-promo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.validation-promos-promo-input {
  width: 60%;
  height: 25px;
  font-size: 1.1rem;
}
.validation-promos-promo-btn {
  height: 31px;
  margin-left: -5px;
  cursor: pointer;
}
.validation-recap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-left: black solid 1.5px;
  border-right: black solid 1.5px;
}
.validation-recap-text {
  width: 63%;
  margin: 0;
  padding: 50px 5px;
  font-size: 1.05rem;
}
.validation-recap-price {
  width: 20%;
  margin: 0;
  padding: 50px 5px;
  font-size: 1.2rem;
}
.validation-validation {
  border: black solid 1.5px;
  padding: 20px 0;
}
.validation-validation-btn {
  width: 65%;
  height: 40px;
  font-size: 1.2rem;
  cursor: pointer;
  background: #e5bfff;
  border: none;
  border-radius: 10px;
  transition: 0.4s;
}
.validation-validation-btn:hover {
  transform: scale(1.1);
  filter: brightness(90%);
}
@media screen and (max-width: 1024px) {
  .validation-validation-btn {
    height: 55px;
  }
}
.validation-infos {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .validation-infos {
    flex-direction: column;
  }
}
.validation-infos i {
  margin: 10px;
  font-size: 1.1rem;
}
.validation-infos-text {
  margin: 0 0 0 10px;
}

/*-------------ASIDE-validation----------------*/
/*-------------ASIDE-bears+----------------*/
.panier-bearsplus {
  width: 45%;
  height: 140px;
  margin-left: 8%;
  text-align: center;
  background: #e5bfff;
  border-radius: 20px;
  box-shadow: gray 2px 2px 6px;
}
.panier-bearsplus-text {
  margin: 0;
  padding: 15px 10px;
  font-size: 1.05rem;
}
.panier-bearsplus-btn {
  width: 45%;
  height: 35px;
  font-size: 1.35rem;
  background: #ab8bf8;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  box-shadow: gray 2px 2px 4px;
  transition: 0.3s;
}
.panier-bearsplus-btn:hover {
  transform: scale(1.1);
  color: white;
}

/*-------------ASIDE-bears+----------------*/
/*----------SECTION-article-similaires ?-------------*/
/*----------SECTION-article-similaires ?-------------*/
/*-------------PANIER-PAGE----------------*/
/*-------------PAIEMENT-PAGE----------------*/
/*-------------HEADER----------------*/
/*-------------HEADER----------------*/
/*-------------MAIN----------------*/
.paiement-page {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 500px;
}

/*-------------MAIN----------------*/
/*-------------SECTION-livraison----------------*/
.livraison {
  width: 55%;
  height: 300px;
  margin-top: 20px;
}
.livraison-title {
  font-size: 1.3rem;
  margin-bottom: 10px;
  margin-left: 10px;
}
.livraison-container {
  background: #ab8bf8;
  text-align: center;
}
.livraison-container-standart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
  /*---modifs relais margin btn---*/
  border: black solid 1.5px;
}
.livraison-container-standart-text {
  font-size: 1rem;
}
.livraison-container-standart-address {
  width: 35%;
  height: 30px;
  font-size: 1rem;
  box-shadow: gray 1px 1px 4px;
  cursor: pointer;
  background: #e5bfff;
  border: none;
  border-radius: 10px;
  transition: 0.4s;
}
.livraison-container-standart-address:hover {
  transform: scale(1.1);
  filter: brightness(90%);
}
@media screen and (max-width: 1024px) {
  .livraison-container-standart-address {
    height: 40px;
    margin: 0 20px;
    font-size: 0.9rem;
  }
}
.livraison-container-standart-price {
  font-size: 1rem;
}
@media screen and (max-width: 1024px) {
  .livraison-container-standart-price {
    margin-right: 5px;
  }
}
.livraison-container-express {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
  /*---modifs relais margin btn---*/
  border-left: black solid 1.5px;
  border-right: black solid 1.5px;
}
.livraison-container-express-text {
  font-size: 1rem;
}
.livraison-container-express-address {
  width: 35%;
  height: 30px;
  font-size: 1rem;
  box-shadow: gray 1px 1px 4px;
  cursor: pointer;
  background: #e5bfff;
  border: none;
  border-radius: 10px;
  transition: 0.4s;
}
.livraison-container-express-address:hover {
  transform: scale(1.1);
  filter: brightness(90%);
}
@media screen and (max-width: 1024px) {
  .livraison-container-express-address {
    height: 40px;
    margin: 0 20px;
    font-size: 0.9rem;
  }
}
.livraison-container-express-price {
  font-size: 1rem;
}
@media screen and (max-width: 1024px) {
  .livraison-container-express-price {
    margin-right: 5px;
  }
}
.livraison-container-relais {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
  /*---modifs relais margin btn---*/
  border: black solid 1.5px;
}
.livraison-container-relais-text {
  font-size: 1rem;
}
.livraison-container-relais-address {
  width: 35%;
  height: 30px;
  font-size: 1rem;
  box-shadow: gray 1px 1px 4px;
  cursor: pointer;
  background: #e5bfff;
  border: none;
  border-radius: 10px;
  transition: 0.4s;
}
.livraison-container-relais-address:hover {
  transform: scale(1.1);
  filter: brightness(90%);
}
@media screen and (max-width: 1024px) {
  .livraison-container-relais-address {
    height: 40px;
    margin: 0 20px;
    font-size: 0.9rem;
  }
}
.livraison-container-relais-price {
  font-size: 1rem;
}
@media screen and (max-width: 1024px) {
  .livraison-container-relais-price {
    margin-right: 5px;
  }
}

/*-------------SECTION-livraison----------------*/
/*-------------SECTION-paiement----------------*/
.paiement {
  position: absolute;
  top: 500px;
  left: 60px;
  width: 50%;
}
@media screen and (max-width: 1024px) {
  .paiement {
    top: 530px;
    left: 30px;
    width: 55%;
  }
}
.paiement-title {
  font-size: 1.3rem;
  margin-bottom: 10px;
  margin-left: 10px;
}
.paiement-card {
  border: black solid 1.5px;
  border-bottom: dotted black 2px;
  background: #ab8bf8;
  padding: 20px 15px;
}
.paiement-card-text {
  font-size: 1.2rem;
}
.paiement-facturation {
  border: black solid 1.5px;
  border-bottom: dotted black 2px;
  border-top: none;
  background: #ab8bf8;
  text-align: center;
  padding: 10px;
}
.paiement-facturation-text {
  font-size: 0.9rem;
}
.paiement-facturation-btn {
  margin: 15px 0 5px;
  width: 50%;
  height: 30px;
  font-size: 1.1rem;
  cursor: pointer;
  background: #e5bfff;
  border: none;
  border-radius: 10px;
  transition: 0.4s;
}
.paiement-facturation-btn:hover {
  transform: scale(1.1);
  filter: brightness(90%);
}
@media screen and (max-width: 1024px) {
  .paiement-facturation-btn {
    width: 55%;
  }
}
.paiement-infos {
  border-right: black solid 1.5px;
  border-left: black solid 1.5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.paiement-infos-title {
  margin: 0;
  padding-top: 20px;
  font-size: 1.3rem;
}
.paiement-infos-dots {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.paiement-infos-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
  background: #ab8bf8;
  margin-bottom: 10px;
  border-radius: 20px;
  box-shadow: gray 3px 3px 8px;
}
@media screen and (max-width: 1024px) {
  .paiement-infos-card {
    width: 65%;
  }
}
.paiement-infos-card-title {
  width: 100%;
  font-size: 1.2rem;
}
.paiement-infos-card-numero {
  width: 85%;
  background: none;
  border: none;
  border-bottom: black solid 1.5px;
  color: white;
  font-size: 0.8rem;
}
.paiement-infos-card-numero::placeholder {
  color: white;
}
.paiement-infos-card-date {
  width: 33%;
  margin: 15px 10px;
  background: none;
  border: none;
  border-bottom: black solid 1.5px;
  color: white;
  font-size: 0.8rem;
}
.paiement-infos-card-date::placeholder {
  color: white;
}
.paiement-infos-card-crypto {
  width: 43%;
  margin: 15px 10px;
  background: none;
  border: none;
  border-bottom: black solid 1.5px;
  color: white;
  font-size: 0.8rem;
}
.paiement-infos-card-crypto::placeholder {
  color: white;
}
.paiement-infos-card-nom {
  width: 85%;
  margin-bottom: 25px;
  background: none;
  border: none;
  border-bottom: black solid 1.5px;
  color: white;
  font-size: 0.8rem;
}
.paiement-infos-card-nom::placeholder {
  color: white;
}
.paiement-infos-futur-card {
  font-size: 0.9rem;
  margin: 10px 0 20px;
}
.paiement-infos-btn {
  margin-bottom: 20px;
  width: 50%;
  height: 40px;
  font-size: 1.3rem;
  box-shadow: gray 1px 1px 4px;
  cursor: pointer;
  background: #e5bfff;
  border: none;
  border-radius: 10px;
  transition: 0.4s;
}
.paiement-infos-btn:hover {
  transform: scale(1.1);
  filter: brightness(90%);
}
@media screen and (max-width: 1024px) {
  .paiement-infos-btn {
    width: 55%;
  }
}
.paiement-paypal {
  border: black solid 1.5px;
  background: #ab8bf8;
  padding: 20px 15px;
}
.paiement-paypal-text {
  font-size: 1.2rem;
}

/*-------------SECTION-paiement----------------*/
/*-------------PAIEMENT-PAGE----------------*/
/*-------------CONFIRMATION-PAGE----------------*/
/*-------------HEADER----------------*/
.header-confirmation-container {
  display: flex;
  align-items: center;
  width: 50%;
}
.header-confirmation-title {
  font-size: 1.8rem;
}

/*-------------HEADER----------------*/
/*-------------ASIDE----------------*/
.thank-container {
  text-align: center;
  margin-top: 50px;
}
.thank-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/*-------------ASIDE----------------*/
/*-------------SECTION----------------*/
.details-container {
  margin: 60px 0 15px 5%;
}
.details-container-title {
  margin-bottom: 10px;
}
.details-container-number {
  margin: 0 0 0 1%;
}
.details-container-date {
  margin: 5px 0 0 1%;
  color: #555454;
}
.details-product {
  display: flex;
  width: 80%;
  height: 150px;
  margin: 20px 0 30px 7%;
  padding: 10px 0 0 50px;
  border-top: black solid 1.5px;
}
.details-product-image {
  object-fit: cover;
  width: 15%;
}
.details-product-product {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}
.details-product-product-title {
  margin: 10px 0;
  font-size: 1.1rem;
}
.details-product-product-description {
  margin: 5px 0;
  font-size: 0.9rem;
}
.details-product-product-price {
  margin-top: 50%;
}

.recap-container {
  display: flex;
  background: #ab8bf8;
}
.recap-livraison {
  display: flex;
  justify-content: space-around;
  width: 50%;
  border-top: black solid 1.5px;
  border-bottom: black solid 1.5px;
}
.recap-livraison-mode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recap-livraison-mode-title {
  font-size: 1.1rem;
  margin-bottom: 10px;
}
.recap-livraison-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recap-livraison-date-title {
  font-size: 1.1rem;
  margin-bottom: 10px;
}
.recap-livraison-price {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  width: 50%;
  border: black solid 1.5px;
  border-right: none;
}
.recap-livraison-price-text {
  width: 40%;
  margin: 10px 0;
  padding-top: 10px;
}
.recap-livraison-price-price {
  width: 30%;
  margin: 10px 0;
  padding-top: 10px;
}

.text-border {
  border-top: dotted black 2px;
}

/*-------------SECTION----------------*/
/*-------------SECTION-similaires?----------------*/
/*-------------SECTION-similaires?----------------*/
/*-------------CONFIRMATION-PAGE----------------*/

/*# sourceMappingURL=style.css.map */
