/*----------Variables-------------*/

$bg-gradient : linear-gradient(to left, rgb(152, 45, 252), rgb(238, 142, 17));
$bg-secondary : rgb(171, 139, 248);
$bg-btn : rgb(229, 191, 255);
$border : black solid 1.5px;
$breakpoints: (
    litle-smartphone: 350px,
    smartphone: 500px,
    large-smartphone: 800px,
    tablet: 1024px,
);

/*----------Mixins----------------*/

@mixin all-btn {
    cursor: pointer;
    background: $bg-btn;
    border: none;
    border-radius: 10px;
    transition: .4s;
    &:hover {
        transform: scale(1.1);
        filter: brightness(90%);
    }
}

@mixin livraison {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;     
    @include smartphone {
        flex-direction: column;
    }
    &-text {
        font-size: 1.1rem;
        @include smartphone {
            margin: 0 5px;
        }
    }
    &-price {
        font-size: 1.1rem;
        @include tablet {
            margin-right: 5px;
        }
        @include smartphone {
            margin-top: 20px;
        }
    }
}

@mixin card-infos {
    background: none;
    border: none;
    border-bottom: $border;
    color: white;
    font-size: .8rem;
    @include large-smartphone {
        font-size: .7rem;
    }
    &::placeholder {
        color: white;
    }
}

@mixin confirm-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-title {
        font-size: 1.1rem;
        margin-bottom: 10px;
        @include large-smartphone {
            text-align: center;
            margin-right: 10px;
        }
    }
}

@mixin popup {
    position: fixed;
    top: -10000px;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(220, 220, 220, 0.8);
}

/*---------Mixins media queries-------------*/

@mixin litle-smartphone {
    @media screen and (max-width: map-get($breakpoints, litle-smartphone )) {
        @content;
    }
}
@mixin smartphone {
    @media screen and (max-width: map-get($breakpoints, smartphone )) {
        @content;
    }
}
@mixin large-smartphone {
    @media screen and (max-width: map-get($breakpoints, large-smartphone )) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: map-get($breakpoints, tablet )) {
        @content;
    }
}