
/*-------------INDEX----------------*/

/*----------ASIDE-bears+------------*/

.bearsplus-container {
    background: url("../../backend/JWDP5-master/images/teddy_bg.png");
    object-fit: cover;        
    height: 300px;
}

.bearsplus {
    position: absolute;
    top: 220px;
    left: 197px;
    background: rgb(241, 150, 91);
    width: 270px;
    height: 150px;
    text-align: center;
    border-radius: 20px;
    box-shadow: gray 1px 1px 2px;
    &-title {
        font-size: 1.1rem;
        width: 85%;
        margin: 15px auto;
    }
    &-btn {
        margin-top: 10px;
        font-size: 1rem;
        border: rgb(134, 134, 134) solid 1px;
        border-radius: 10px;
        cursor: pointer;
        padding: 5px 10px;
        background:white;
        transition: .3s;
        &:hover {
            background: $bg-secondary ;
            color: white;
        }
    }
}

/*----------ASIDE-bears+------------*/
/*---------SECTION-produits---------*/

.all-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.all-products-title {
    text-align: center;
    font-size: 1.7rem;
    width: 100%;
}

.all-bears {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 25%;
    @include tablet {
        width: 28%;
    }
}

.bear {
    background: $bg-secondary;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 300px;
    border-radius: 20px;
    box-shadow: rgb(99, 98, 98) 4px 3px 10px;
    margin-bottom: 40px;
    &-image {
        &-container {
            width: 50%;
            height: 40%;
            margin-top: 10px;
        }
        &-image {
            border-radius: 10px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            margin-top: 5px;
        }
    }
    &-description {
        margin: 0 0 10px 0;
    }
    &-panier-btn {
        width: 55%;
        height: 30px;
        font-size: 1rem;
        @include all-btn;
        @include tablet {
            font-size: .9rem;
        }
    }
}

.fa-star {
    color: yellow;
    margin-bottom: 25px;
    &:nth-child(5) {
        color: rgb(177, 175, 175);
    }
}

/*---------SECTION-produits---------*/
/*----------ASIDE-promos-----------*/

.promotions {
    background: $bg-gradient;
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: grey 2px 2px 7px;
    &-title {
        font-size: 1.7rem;
        color: white;
        @include tablet {
            font-size: 1.5rem;
        }
    }
    &-btn {
        margin-left: -70px;
        width: 200px;
        height: 35px;
        font-size: 1.3rem;
        @include all-btn;
        @include tablet {
            margin-left: -20px;
        }
    }
}

/*----------ASIDE-promos-----------*/
/*-------SECTION-boutiques---------*/

.shop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;

}

.other-shop {
    width: 100%;
    height: 40px;
    font-size: 1.7rem;
    &-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 25%;
        height: 270px;
        background: $bg-secondary;
        border-radius: 20px;
        box-shadow: rgb(99, 98, 98) 4px 3px 10px;
        @include tablet {
            width: 29%;
        }
    }
    &-title {
        font-size: 2rem;
        font-family: 'Dancing Script', cursive;
        color: white;
        margin-bottom: 0;       
    }
    &-description {
        font-size: .9rem;
        width: 85%;
    }
    &-btn {
        margin-bottom: 30px;
        width: 40%;
        height: 30px;
        font-size: 1.1rem;
        @include all-btn;
    }
}

// .oribook {          ---- BG ne fonctionne pas ----
//     background-image: url("../../../backend/JWDP5-master/images/bg_oribook.jpg");
//     object-fit: cover;
// }

/*-------SECTION-boutiques---------*/
/*-------------INDEX----------------*/

/*-------------PRODUCT-PAGE----------------*/

.product {
    &-bear {
        &-container {
            display: flex;
            justify-content: space-around;
        }
        &-image {
            margin: 30px 20px 20px;
            width: 25%;
            height: 400px;
            object-fit: cover;
            @include tablet {
                height: 300px;
            }
        }
    }
    &-description {
        &-content {
            width: 65%;
            padding-top: 50px;
        }
        &-title {
            margin-top: 0;
        }
    }
    &-price {
        display: flex;
        background: $bg-secondary;
        border: $border;
        padding: 10px;
        margin-top: 70px;
        height: 150px;
        @include tablet {
            margin-top: 30px;
        }
        &-container {
            width: 65%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
        &-number {
            padding-left: 15px;
            height: 20%;
            width: 50%;
        }
        &-color {
            height: 20%;
            width: 35%;
        }
        &-price {
            width: 100%;
            margin: 0;
            padding-left: 15px;
        }
        &-btn {
            margin: 0 auto;
            height: 35px;
            width: 40%;
            font-size: 1.2rem;
            @include all-btn;
            @include tablet {
                width: 47%;
                font-size: 1.1rem;
            }
        }
        &-livraison {
            border-left: $border;
            padding-left: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            @include tablet {
                padding-left: 10px;
                font-size: .85rem;
            }
        }
    }
}

#product {
    &-number {
        height: 80%;
        width: 20%;
        padding-left: 2px;
        font-size: 1.1rem;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        @include tablet {
            font-size: 1rem;
        }
    }
    &-color {
        width: 80%;
        height: 100%;
        padding-left: 5px;
        font-size: 1.1rem;
        border-radius: 10px;
        border: none;
        cursor: pointer;
    }
}

.product {
    &-sub {
        &-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        &-bearplus {
            width: 25%;
            height: 55px;
            margin: 10px 0 0 15px;
            font-size: 1.2rem;
            border: rgb(134, 134, 134) solid 1px;
            border-radius: 10px;
            cursor: pointer;
            padding: 5px 10px;
            background: $bg-btn;
            transition: .3s;
            box-shadow: gray 2px 2px 5px;
            &:hover {
                background: $bg-secondary ;
                color: white;
            }
        }
        &-content {
            width: 65%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: -40px;
            @include tablet {
                margin-top: 15px;
            }
        }
    }
    &-icon {
        &-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &-icon {
            font-size: 1.1rem;
        }
        &-text {
            margin-top: 5px;
            font-size: .7rem;
        }
    }
}

.product-caracteristic {
    text-align: center;
    margin-top: 100px;
    &-title {
        font-size: 1.7rem;
    }
    &-text {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 25px;
        font-size: 1.2rem;
        background: $bg-btn;
        margin: 20px auto;
    }
}

/*-------------PRODUCT-PAGE----------------*/

/*-------------PANIER-PAGE----------------*/
/*-------------SECTION-panier----------------*/

.panier {
    display: flex;
    justify-content: space-around;
    &-container {
        width: 55%;
        margin: 73px 0 50px;
    }
    &-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $bg-secondary;
        border: $border;
        border-bottom: none;
        &-title {
            font-size: 1.2rem;
            margin-left: 20px;
        }
        &-suppr-all {
            margin-right: 20px;
            cursor: pointer;
            transition: .2s;
            & i {
                margin-left: 5px;
            }
            &:hover {
                text-decoration: underline;
                color: white;
            }
        }
    }
    &-content {
        border: $border;
        border-bottom: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 200px;
        &-image {
            width: 25%;
            height: 80%;
            object-fit: cover;
            margin-left: 20px;
        }
        &-product {
            display: flex;
            flex-direction: column;
            width: 50%;
            &-title {
                margin: 0;
                font-size: 1.2rem;
            }
            &-price {
                font-size: 1.5rem;
                margin-bottom: 0;
                margin-right: 40px;
                align-self: flex-end;
            }
        }
        &-suppr {
            align-self: flex-start;
            margin: 10px 15px 0 0;
            cursor: pointer;
        }
    }
    &-total {
        display: flex;
        justify-content: flex-end;
        padding-right: 30px;
        font-size: 1.2rem;
        border: $border;
        background: $bg-secondary;
    }
}

/*-------------SECTION-panier----------------*/
/*-------------ASIDE-validation----------------*/

.recap {
    width: 32%;
    text-align: center;
    margin-top: 20px;
}

.validation {
    width: 100%;
    height: 80%;
    &-title {
        font-size: 1.3rem;
        margin-bottom: 10px;
    }
    &-container {
        background: $bg-secondary;
    }
    &-promos {
        border: $border;
        &-title {
            margin: 15px 0 20px;
        }
        &-promo {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 30px;
            &-input {
                width: 60%;
                height: 25px;
                font-size: 1.1rem;
            }
            &-btn {
                height: 31px;
                margin-left: -5px;
                cursor: pointer;
            }
        }
    }
    &-recap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border-left: $border;
        border-right: $border;
        &-text {
            width: 63%;
            margin: 0;
            padding: 50px 5px;
            font-size: 1.05rem;
            @include tablet {

            }
        }
        &-price {
            width: 20%;
            margin: 0;
            padding: 50px 5px;
            font-size: 1.2rem;
        }
    }
    &-validation {
        border: $border;
        padding: 20px 0;
        &-btn {
            width: 65%;
            height: 40px;
            font-size: 1.2rem;
            @include all-btn;
            @include tablet {
                height: 55px;
            }
        }
    }
    &-infos {
        display: flex;
        justify-content: center;
        align-items: center;
        @include tablet {
            flex-direction: column;
        }
        & i {
            margin: 10px;
            font-size: 1.1rem;
        }
        &-text {
            margin: 0 0 0 10px;
        }
    }
}

/*-------------ASIDE-validation----------------*/
/*-------------ASIDE-bears+----------------*/

.panier-bearsplus {
    width: 45%;
    height: 140px;
    margin-left: 8%;
    text-align: center;
    background: $bg-btn;
    border-radius: 20px;
    box-shadow: gray 2px 2px 6px;
    &-text {
        margin: 0;
        padding: 15px 10px;
        font-size: 1.05rem;
    }
    &-btn {
        width: 45%;
        height: 35px;
        font-size: 1.35rem;
        background: $bg-secondary;
        border-radius: 10px;
        cursor: pointer;
        border: none;
        box-shadow: gray 2px 2px 4px;
        transition: .3s;
        &:hover {
            transform: scale(1.1);
            color: white;
        }
    }
}

/*-------------ASIDE-bears+----------------*/
/*----------SECTION-article-similaires ?-------------*/


/*----------SECTION-article-similaires ?-------------*/
/*-------------PANIER-PAGE----------------*/

/*-------------PAIEMENT-PAGE----------------*/
/*-------------HEADER----------------*/

// .fa-shopping-cart, .header-panier-text {
//     color: white;
// }                                               --- color onload ---

// .fa-truck, .header-livraison-text {
//     color: lightgray;
// }

/*-------------HEADER----------------*/
/*-------------MAIN----------------*/

.paiement-page {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 500px;
}

/*-------------MAIN----------------*/
/*-------------SECTION-livraison----------------*/

.livraison {
    width: 55%;
    height: 300px;
    margin-top: 20px;
    &-title {
        font-size: 1.3rem;
        margin-bottom: 10px;
        margin-left: 10px;
    }
    &-container {
        background: $bg-secondary;
        text-align: center;
        &-standart {
            @include livraison;
            border: $border;
        }
        &-express {
            @include livraison;
            border-left: $border;
            border-right: $border;
        }
        &-relais {
            @include livraison;
            border: $border;
        }
    }
}

/*-------------SECTION-livraison----------------*/

/*-------------SECTION-paiement----------------*/

.paiement {
    position: absolute;
    top: 500px;
    left: 60px;
    width: 50%;
    @include tablet {
        top: 530px;
        left: 30px;
        width: 55%;
    }
    &-title {
        font-size: 1.3rem;
        margin-bottom: 10px;
        margin-left: 10px;
    }
    &-card {
        border: $border;
        border-bottom: dotted black 2px;
        background: $bg-secondary;
        padding: 20px 15px;
        &-text {
            font-size: 1.2rem;
        }
    }
    &-facturation {
        border: $border;
        border-bottom: dotted black 2px;
        border-top: none;
        background: $bg-secondary;
        text-align: center;
        padding: 10px;
        &-text {
            font-size: .9rem;
        }
        &-btn {
            margin: 15px 0 5px;
            width: 50%;
            height: 30px;
            font-size: 1.1rem;
            @include all-btn;
            @include tablet {
                width: 55%;
            }
        }
    }
    &-infos {
        border-right: $border;
        border-left: $border;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-title {
            margin: 0;
            padding-top: 20px;
            font-size: 1.3rem;
        }
        &-dots {
            font-size: 1.2rem;
            margin-bottom: 20px;
        }
        &-card {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 60%;
            background: $bg-secondary;
            margin-bottom: 10px;
            border-radius: 20px;
            box-shadow: gray 3px 3px 8px;
            @include tablet {
                width: 65%;
            }
            &-title {
                width: 100%;
                font-size: 1.2rem;
            }
            &-numero {
                width: 85%;
                @include card-infos;
            }
            &-date {
                width: 33%;
                margin: 15px 10px;
                @include card-infos;
            }
            &-crypto {
                width: 43%;
                margin: 15px 10px;
                @include card-infos;
            }
            &-nom {
                width: 85%;
                margin-bottom: 25px;
                @include card-infos;
            }
        }
        &-futur-card {
            font-size: .9rem;
            margin: 10px 0 20px;
        }
        &-btn {
            margin-bottom: 20px;
            width: 50%;
            height: 40px;
            font-size: 1.3rem;
            box-shadow: gray 1px 1px 4px;
            @include all-btn;
            @include tablet {
                width: 55%;
            }
        }
    }
    &-paypal {
        border: $border;
        background: $bg-secondary;
        padding: 20px 15px;
        &-text {
            font-size: 1.2rem;
        }
    }
}

/*-------------SECTION-paiement----------------*/
/*-------------PAIEMENT-PAGE----------------*/

/*-------------CONFIRMATION-PAGE----------------*/
/*-------------HEADER----------------*/

.header-confirmation {
    &-container {
        display: flex;
        align-items: center;
        width: 50%;
    }
    &-title {
        font-size: 1.8rem;
    }
}
/*-------------HEADER----------------*/
/*-------------ASIDE----------------*/

.thank {
    &-container {
        text-align: center;
        margin-top: 50px;
    }
    &-title {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
}

/*-------------ASIDE----------------*/
/*-------------SECTION----------------*/

.details {
    &-container {
        margin: 60px 0 15px 5%;
        &-title {
            margin-bottom: 10px;
        }
        &-number {
            margin: 0 0 0 1%;
        }
        &-date {
            margin: 5px 0 0 1%;
            color: rgb(85, 84, 84);
        }
    }
    &-product {
        display: flex;
        width: 80%;
        height: 150px;
        margin: 20px 0 30px 7%;
        padding: 10px 0 0 50px;
        border-top: $border;
        &-image {
            object-fit: cover;
            width: 15%;
        }
        &-product {
            margin-left: 40px;
            display: flex;
            flex-direction: column;
            &-title {
                margin: 10px 0;
                font-size: 1.1rem;
            }
            &-description {
                margin: 5px 0;
                font-size: .9rem;
            }
            &-price {
                margin-top: 50%;
            }
        }
    }
}

.recap {
    &-container {
        display: flex;
        background: $bg-secondary;
    }
    &-livraison {
        display: flex;
        justify-content: space-around;
        width: 50%;
        border-top: $border;
        border-bottom: $border;
        &-mode {
            @include confirm-details;
        }
        &-date {
            @include confirm-details;
        }
        &-price {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            text-align: center;
            width: 50%;
            border: $border;
            border-right: none;
            &-text {
                width: 40%;
                margin: 10px 0;
                padding-top: 10px;
            }
            &-price {
                width: 30%;
                margin: 10px 0;
                padding-top: 10px;
            }
        }
    }
}

.text-border {
    border-top: dotted black 2px;
}

/*-------------SECTION----------------*/
/*-------------SECTION-similaires?----------------*/


/*-------------SECTION-similaires?----------------*/
/*-------------CONFIRMATION-PAGE----------------*/