
/*-------------INDEX----------------*/

/*----------ASIDE-bears+------------*/

.bearsplus-container {
    background: url("../../backend/images/teddy_bg.png");
    object-fit: cover;              /*----modif longueur bg img-----*/
    height: 300px;
}

.bearsplus {
    position: absolute;
    top: 220px;
    left: 197px;
    background: rgb(241, 150, 91);
    width: 270px;
    height: 150px;
    text-align: center;
    border-radius: 20px;
    box-shadow: gray 1px 1px 2px;
    @include large-smartphone {
        top: 370px;
    }
    @include smartphone {
        top: 410px;
        left: 15%;
    }
    @include litle-smartphone {
        left: 10%;
    }
    &-title {
        font-size: 1.1rem;
        width: 85%;
        margin: 15px auto;
    }
    &-btn {
        margin-top: 10px;
        font-size: 1rem;
        border: rgb(134, 134, 134) solid 1px;
        border-radius: 10px;
        cursor: pointer;
        padding: 5px 10px;
        background:white;
        transition: .3s;
        &:hover {
            background: $bg-secondary ;
            color: white;
        }
    }
}

/*----------ASIDE-bears+------------*/
/*---------SECTION-produits---------*/

.all-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.all-products-title {
    text-align: center;
    font-size: 1.7rem;
    width: 100%;
}

.all-bears {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.bear {
    background: $bg-secondary;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28%;
    height: 350px;
    border-radius: 20px;
    box-shadow: rgb(99, 98, 98) 4px 3px 10px;
    margin-bottom: 40px;
    @include tablet {
        width: 30%;
    }
    @include large-smartphone {
        width: 38%;
    }
    @include smartphone {
        width: 70%;
    }
    &-image {
        &-container {
            width: 55%;
            height: 130px;
            margin-top: 20px;
        }
        &-image {
            width: 100%;
            height: 100%;
            object-fit: contain;
            margin-top: 5px;
        }
    }
    &-title {
        @include large-smartphone {
            margin-top: 10px;
        }
    }
    &-description {
        margin: 0 0 10px 0;
        padding: 0 5px;
        text-align: center;
        font-size: .9rem;
        @include tablet {
            font-size: .7rem;
        }
    }
    &-star {
        @include tablet {
            font-size: 2rem;
        }
    }
    &-wish-btn {
        width: 55%;
        height: 40px;
        font-size: 1rem;
        @include all-btn;
        @include tablet {
            font-size: .9rem;
        }
        @include large-smartphone {
            width: 65%;
        }
    }
}

.fa-star {
    color: yellow;
    margin-bottom: 18px;
    &:nth-child(5) {
        color: rgb(177, 175, 175);
    }
    @include tablet {
        font-size: .8rem;
    }
}

/*---------SECTION-produits---------*/
/*----------ASIDE-promos-----------*/

.promotions {
    background: $bg-gradient;
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: grey 2px 2px 7px;
    @include large-smartphone {
        width: 90%;
    }
    &-title {
        font-size: 1.7rem;
        color: white;
        @include tablet {
            font-size: 1.5rem;
        }
        @include large-smartphone {
            font-size: 1.2rem;
        }
        @include smartphone {
            text-align: center;
            width: 55%;
        }
    }
    &-btn {
        width: 25%;
        height: 35px;
        font-size: 1.3rem;
        @include all-btn;
        @include smartphone {
            width: 30%;
            font-size: 1.1rem;
        }
    }
}

/*----------ASIDE-promos-----------*/
/*-------SECTION-boutiques---------*/

.shop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;

}

.other-shop {
    width: 100%;
    height: 40px;
    font-size: 1.7rem;
    @include smartphone {
        font-size: 1.4rem;
        margin-bottom: 30px;
    }
    &-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 25%;
        height: 270px;
        background: $bg-secondary;
        border-radius: 20px;
        box-shadow: rgb(99, 98, 98) 4px 3px 10px;
        @include tablet {
            width: 29%;
        }
        @include large-smartphone {
            width: 42%;
            margin-bottom: 30px;
        }
        @include smartphone {
            width: 70%;
        }
    }
    &-title {
        font-size: 2rem;
        font-family: 'Dancing Script', cursive;
        color: white;
        margin-bottom: 0;       
    }
    &-description {
        font-size: .9rem;
        width: 85%;
    }
    &-btn {
        margin-bottom: 30px;
        width: 40%;
        height: 30px;
        font-size: 1.1rem;
        @include all-btn;
        @include large-smartphone {
            font-size: 1rem;
        }
        @include smartphone {
            width: 55%;
            font-size: 1.1rem;
        }
    }
}

/*-------SECTION-boutiques---------*/
/*-------------INDEX----------------*/

/*-------------PRODUCT-PAGE----------------*/

.product {
    &-bear {
        &-container {
            display: flex;
            justify-content: space-around;
        }
        &-image {
            margin: 30px 20px 20px;
            width: 25%;
            height: 400px;
            object-fit: cover;
            @include tablet {
                height: 300px;
            }
            @include large-smartphone {
                height: 200px;
                width: 28%;
            }
            @include smartphone {
                height: 170px;
                width: 40%;
            }
        }
    }
    &-description {
        &-content {
            width: 65%;
            padding-top: 10%;
            font-size: 1.3rem;
            @include large-smartphone {
                font-size: 1.2rem;
            }
            @include smartphone {
                font-size: .9rem;
                padding-top: 15%;
            }
        }
        &-title {
            margin-top: 0;
        }
        &-star {
            font-size: 1rem;
            @include large-smartphone {
                font-size: .8rem;
            }
        }
    }
    &-price {
        display: flex;
        background: $bg-secondary;
        border: $border;
        padding: 10px;
        margin: 30px auto 10px;
        height: 150px;
        width: 95%;
        @include tablet {
            margin-top: 30px;
        }
        @include large-smartphone {
           flex-direction: column;
           align-items: center;
           justify-content: space-around;
           height: 220px;
           width: 90%;
        }
        &-container {
            width: 65%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            @include large-smartphone {
                width: 90%;
                margin-top: 10px;
            }
        }
        &-number {
            padding-left: 15px;
            height: 20%;
            width: 50%;
            @include large-smartphone {
                margin: 10px 0;
                height: 30%;
            }
        }
        &-color {
            height: 20%;
            width: 35%;
            @include large-smartphone {
                height: 25%;
                margin-bottom: 5px;
            }
        }
        &-price {
            width: 100%;
            margin: 0;
            padding-left: 25px;
            font-size: 1.2rem;
        }
        &-btn {
            margin: 0 auto;
            height: 35px;
            width: 40%;
            font-size: 1.2rem;
            @include all-btn;
            @include tablet {
                width: 47%;
                font-size: 1.1rem;
            }
            @include large-smartphone {
                margin: 10px auto;
                width: 55%;
                font-size: 1.05rem;
            }
            @include litle-smartphone {
                width: 60%;
            }
        }
        &-livraison {
            border-left: $border;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            @include tablet {
                padding-left: 10px;
            }
            @include large-smartphone {
                font-size: .9rem;
                margin-top: 30px;
                width: 90%;
                border-left: none;
                border-top: $border;
            }
        }
    }
}

#product {
    &-number {
        height: 80%;
        width: 20%;
        padding-left: 2px;
        font-size: 1.1rem;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        @include tablet {
            font-size: 1rem;
        }
        @include large-smartphone {
            width: 30%;
        }
    }
    &-color {
        width: 80%;
        height: 100%;
        padding-left: 5px;
        font-size: 1.1rem;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        @include large-smartphone {
            width: 100%;
        }
    }
}

.product {
    &-sub {
        &-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            @include large-smartphone {
                flex-direction: column;
            }
        }
        &-bearplus {
            width: 25%;
            height: 55px;
            margin: 10px 0 0 15px;
            font-size: 1.2rem;
            border: rgb(134, 134, 134) solid 1px;
            border-radius: 10px;
            cursor: pointer;
            padding: 5px 10px;
            background: $bg-btn;
            transition: .3s;
            box-shadow: gray 2px 2px 5px;
            @include large-smartphone {
                order: 2;
                width: 50%;
                margin-top: 25px;
                margin-left: 0;
            }
            @include smartphone {
                width: 70%;
            }
            &:hover {
                background: $bg-secondary ;
                color: white;
            }
        }
        &-content {
            width: 65%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 15px;
            @include large-smartphone {
                width: 100%;
            }
        }
    }
    &-icon {
        &-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include smartphone {
                margin: 0 10px;
            }
        }
        &-icon {
            font-size: 1.2rem;
            @include smartphone {
                font-size: 1rem;
            }
        }
        &-text {
            margin-top: 5px;
            font-size: .9rem;
            @include smartphone {
                font-size: .7rem;
                text-align: center;
            }
        }
    }
}

/*-------------ASIDE----------------*/

.product-caracteristic {
    text-align: center;
    margin-top: 100px;
    &-title {
        font-size: 1.7rem;
    }
    &-text {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 25px;
        font-size: 1.2rem;
        background: $bg-btn;
        margin: 20px auto;
    }
}
/*-------------ASIDE----------------*/
/*-------------PRODUCT-PAGE----------------*/

/*-------------PANIER-PAGE----------------*/
/*-------------SECTION-panier----------------*/

.panier {
    display: flex;
    justify-content: space-around;
    @include large-smartphone {
        flex-direction: column;
        align-items: center;
    }
    &-container {
        width: 55%;
        margin: 73px 0 50px;
        @include large-smartphone {
            width: 85%;
            margin-bottom: 0;
        }
    }
    &-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $bg-secondary;
        border: $border;
        border-bottom: none;
        &-title {
            font-size: 1.2rem;
            margin-left: 20px;
            @include smartphone {
                font-size: 1rem;
                margin-right: 20px;
                text-align: center;
            }
        }
        &-suppr-all {
            margin-right: 20px;
            cursor: pointer;
            transition: .2s;
            @include smartphone {
                font-size: .9rem;
                text-align: center;
            }
            & i {
                margin-left: 5px;
            }
            &:hover {
                text-decoration: underline;
                color: white;
            }
        }
    }
    &-content {
        border: $border;
        border-bottom: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 200px;
        &-image {
            width: 25%;
            height: 80%;
            object-fit: cover;
            margin-left: 20px;
            @include smartphone {
                height: 60%;
                width: 30%;
                margin-left: 10px;
            }
        }
        &-product {
            display: flex;
            flex-direction: column;
            width: 50%;
            @include smartphone {
                margin-left: 10px;
            }
            &-title {
                margin: 0;
                font-size: 1.2rem;
            }
            &-price {
                font-size: 1.5rem;
                margin-bottom: 0;
                margin-right: 40px;
                align-self: flex-end;
                @include smartphone {
                    font-size: 1.2rem;
                }
            }
        }
        &-suppr {
            align-self: flex-start;
            margin: 10px 15px 0 0;
            cursor: pointer;
        }
    }
    &-total {
        display: flex;
        justify-content: flex-end;
        padding-right: 30px;
        font-size: 1.2rem;
        border: $border;
        background: $bg-secondary;
    }
}

/*-------------SECTION-panier----------------*/
/*-------------ASIDE-validation----------------*/

.recap {
    width: 32%;
    text-align: center;
    margin-top: 20px;
    @include large-smartphone {
        width: 85%;
    }
}

.validation {
    width: 100%;
    height: 80%;
    &-title {
        font-size: 1.3rem;
        margin-bottom: 10px;
    }
    &-container {
        background: $bg-secondary;
    }
    &-promos {
        border: $border;
        &-title {
            margin: 15px 0 20px;
            @include large-smartphone {
                font-size: 1.3rem;
            }
            @include smartphone {
                font-size: 1rem;
            }
        }
        &-promo {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 30px;
            &-input {
                width: 60%;
                height: 25px;
                font-size: 1.1rem;
            }
            &-btn {
                height: 31px;
                margin-left: -5px;
                cursor: pointer;
            }
        }
    }
    &-recap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border-left: $border;
        border-right: $border;
        &-text {
            width: 63%;
            margin: 0;
            padding: 50px 0 50px 10px;
            font-size: 1.05rem;
            @include large-smartphone {
                width: 50%;
                padding: 30px 10px;
                text-align: center;
                font-size: 1.2rem;
            }
        }
        &-price {
            width: 20%;
            margin: 0;
            padding: 50px 30px 50px 0;
            font-size: 1.2rem;
            @include large-smartphone {
                padding: 30px 5px;
                width: 35%;
                font-size: 1.3rem;
            }
        }
    }
    &-validation {
        border: $border;
        padding: 20px 0;
        &-btn {
            width: 65%;
            height: 40px;
            font-size: 1.2rem;
            @include all-btn;
            @include tablet {
                height: 55px;
            }
            @include large-smartphone {
                width: 50%;
            }
        }
    }
    &-infos {
        display: flex;
        justify-content: center;
        align-items: center;
        @include tablet {
            flex-direction: column;
        }
        @include large-smartphone {
            flex-direction: row;
            margin-bottom: 20px;
        }
        @include smartphone {
            flex-direction: column;
        }
        & i {
            margin: 10px;
            font-size: 1.1rem;
        }
        &-text {
            margin: 0 0 0 10px;
        }
    }
}

/*-------------ASIDE-validation----------------*/
/*-------------ASIDE-bears+----------------*/

.panier-bearsplus {
    width: 45%;
    height: 140px;
    margin-left: 8%;
    text-align: center;
    background: $bg-btn;
    border-radius: 20px;
    box-shadow: gray 2px 2px 6px;
    @include large-smartphone {
        width: 70%;
        margin: 0 auto;
    }
    @include smartphone {
        width: 75%;

    }
    &-text {
        margin: 0;
        padding: 15px 10px;
        font-size: 1.05rem;
        @include smartphone {
            font-size: .85rem;
        }
    }
    &-btn {
        width: 45%;
        height: 35px;
        font-size: 1.35rem;
        background: $bg-secondary;
        border-radius: 10px;
        cursor: pointer;
        border: none;
        box-shadow: gray 2px 2px 4px;
        transition: .3s;
        @include smartphone {
            font-size: 1.1rem;
            width: 55%;
        }
        &:hover {
            transform: scale(1.1);
            color: white;
        }
    }
}

/*-------------ASIDE-bears+----------------*/
/*----------SECTION-article-similaires ?-------------*/


/*----------SECTION-article-similaires ?-------------*/
/*-------------PANIER-PAGE----------------*/

/*-------------PAIEMENT-PAGE----------------*/
/*-------------HEADER----------------*/

// .fa-shopping-cart, .header-panier-text {
//     color: white;
// }                                               --- color onload ---

// .fa-truck, .header-livraison-text {
//     color: lightgray;
// }

/*-------------HEADER----------------*/
/*-------------MAIN----------------*/

.paiement-page {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.livraison-paiement-container {
    width: 55%;
    @include large-smartphone {
        width: 85%;
    }
}

/*-------------MAIN----------------*/
/*-------------SECTION-formulaire----------------*/

.formulaire {
    width: 95%;
    height: 600px;
    margin: 30px 0;
    @include litle-smartphone {
        height: 700px;
    }
    &-title {
        text-align: center;
        font-size: 1.7rem;
    }
    &-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background: $bg-secondary;
        border: $border;
        height: 85%;
        width: 90%;
        margin: auto;
        &-title {
            margin-bottom: 5px;
            font-size: 1.2rem;
        }
        &-input {
            height: 30px;
            border-radius: 10px;
            border: none;
            padding-left: 5px;
            font-size: 1rem;
            &:focus {
            border: lime solid 1.5px;
            }
            @include smartphone {
                font-size: .7rem;
            }
        }
        &-subtext {
            visibility: hidden;
            background: $bg-btn;
            font-size: 0.9rem;
            border-radius: 5px;
            width: 40%;
            margin: 5px auto 0;
            padding: 2px 5px;
            color: red;
            opacity: 0;
            transition: 0.2s;
            text-align: center;
            @include large-smartphone {
                width: 54%;
            }
            @include smartphone {
                width: 70%;
                font-size: .8rem;
            }
        }
    }
}

.first-name-container, .last-name-container {
    width: 45%;
    @include litle-smartphone {
        width: 60%;
    }
}

.address-container, .city-container, .mail-container {
    width: 60%;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 12%;
    margin: 10px 5px;
}

/*-------------SECTION-formulaire----------------*/
/*-------------SECTION-livraison----------------*/

.livraison {
    margin-top: 40px;
    &-title {
        font-size: 1.3rem;
        margin-bottom: 10px;
        margin-left: 10px;
    }
    &-container {
        background: $bg-secondary;
        text-align: center;
        &-standart {
            @include livraison;
            border: $border;
        }
        &-express {                             /*-----enlever boutons---*/
            @include livraison;
            border-left: $border;
            border-right: $border;
        }
        &-relais {
            @include livraison;
            border: $border;
            &-address {
                margin-left: 10%;
                @include tablet {
                    margin-left: 15%;
                }
                @include smartphone {
                    margin-left: 0;
                }
            }
        }
    }
}

/*-------------SECTION-livraison----------------*/
/*-------------SECTION-paiement----------------*/

.paiement {
    margin-top: 40px;
    &-title {
        font-size: 1.3rem;
        margin-bottom: 10px;
        margin-left: 10px;
    }
    &-card {
        border: $border;
        border-bottom: dotted black 2px;
        background: $bg-secondary;
        padding: 20px 15px;
        &-text {
            font-size: 1.2rem;
        }
    }
    &-facturation {
        border: $border;
        border-bottom: dotted black 2px;
        border-top: none;
        background: $bg-secondary;
        text-align: center;
        padding: 10px;
        @include smartphone {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &-text {
            font-size: .9rem;
        }
        &-btn {
            margin: 15px 0 5px;
            width: 50%;
            height: 30px;
            font-size: 1.1rem;
            @include all-btn;
            @include tablet {
                width: 55%;
            }
            @include smartphone {
                width: 65%;
                height: 45px;
            }
        }
    }
    &-infos {
        border-right: $border;
        border-left: $border;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-title {
            margin: 0;
            padding-top: 20px;
            font-size: 1.3rem;
        }
        &-dots {
            font-size: 1.2rem;
            margin-bottom: 20px;
        }
        &-card {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 60%;
            background: $bg-secondary;
            margin-bottom: 10px;
            border-radius: 20px;
            box-shadow: gray 3px 3px 8px;
            @include tablet {
                width: 65%;
            }
            @include large-smartphone {
                width: 60%;
            }
            &-title {
                width: 100%;
                font-size: 1.2rem;
            }
            &-numero {
                width: 85%;
                @include card-infos;
            }
            &-date {
                width: 33%;
                margin: 15px 10px;
                @include card-infos;
                @include smartphone {
                    width: 85%;
                    margin: 15px 0;
                }
            }
            &-crypto {
                width: 43%;
                margin: 15px 10px;
                @include card-infos;
                @include smartphone {
                    width: 85%;
                    margin: 0 0 15px;
                }
            }
            &-nom {
                width: 85%;
                margin-bottom: 25px;
                @include card-infos;
            }
        }
        &-futur-card {
            font-size: .9rem;
            margin: 10px 0 20px;
        }
        &-btn {
            margin-bottom: 20px;
            width: 50%;
            height: 40px;
            font-size: 1.3rem;
            box-shadow: gray 1px 1px 4px;
            @include all-btn;
            @include tablet {
                width: 55%;
            }
            @include smartphone {
                font-size: 1.1rem;
                height: 45px;
            }
        }
    }
    &-paypal {
        border: $border;
        background: $bg-secondary;
        padding: 20px 15px;
        &-text {
            font-size: 1.2rem;
        }
    }
}

/*-------------SECTION-paiement----------------*/
/*-------------PAIEMENT-PAGE----------------*/

/*-------------CONFIRMATION-PAGE----------------*/
/*-------------HEADER----------------*/

.header-confirmation {
    &-title {
        display: flex;
        align-items: center;
        width: 50%;
        font-size: 1.8rem;
        @include large-smartphone {
            width: 100%;
            justify-content: center;
            text-align: center;
        }
    }
}
/*-------------HEADER----------------*/
/*-------------ASIDE----------------*/

.thank {
    &-container {
        text-align: center;
        margin-top: 50px;
        @include smartphone {
            width: 90%;
            margin: 50px auto auto;
        }
    }
    &-title {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    &-text {
        width: 90%;
        margin: 15px auto 0;
        text-align: center;
    }
}

/*-------------ASIDE----------------*/
/*-------------SECTION----------------*/

.details {
    &-container {
        margin: 60px 0 15px 5%;
        &-title {
            margin-bottom: 10px;
        }
        &-number {
            margin: 0 0 0 1%;
        }
        &-date {
            margin: 5px 0 0 1%;
            color: rgb(85, 84, 84);
        }
    }
    &-product {
        display: flex;
        width: 80%;
        height: 150px;
        margin: 20px 0 30px 7%;
        padding: 10px 0 0 50px;
        border-top: $border;
        @include large-smartphone {
            padding-left: 30px;
        }
        @include smartphone {
            margin-bottom: 10px;
        }
        &-image {
            object-fit: cover;
            width: 15%;
            @include tablet {
                width: 20%;
            }
            @include large-smartphone {
                width: 30%;
            }
            @include smartphone {
                height: 80%;
                width: 37%;
            }
        }
        &-product {
            margin-left: 40px;
            display: flex;
            flex-direction: column;
            @include smartphone {
                margin-left: 20px;
            }
            &-title {
                margin: 10px 0;
                font-size: 1.1rem;
            }
            &-description {
                margin: 5px 0;
                font-size: .9rem;
            }
            &-price {
                margin-top: 50%;
                @include smartphone {
                    margin-top: 20%;
                }
            }
        }
    }
}

.recap {
    &-container {
        display: flex;
        background: $bg-secondary;
        @include smartphone {
            flex-direction: column;
        }
    }
    &-livraison {
        display: flex;
        justify-content: space-around;
        width: 50%;
        border-top: $border;
        border-bottom: $border;
        @include smartphone {
            width: 100%;
        }
        &-mode {
            @include confirm-details;
        }
        &-date {
            @include confirm-details;
        }
        &-price {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            text-align: center;
            width: 50%;
            border: $border;
            border-right: none;
            @include smartphone {
                width: 100%;
                border-top: none;
                border-left: none;
            }
            &-text {
                width: 40%;
                margin: 10px 0;
                padding-top: 10px;
            }
            &-price {
                width: 30%;
                margin: 10px 0;
                padding-top: 10px;
            }
        }
    }
}

.text-border {
    border-top: dotted black 2px;
}

/*-------------SECTION----------------*/
/*-------------SECTION-similaires?----------------*/


/*-------------SECTION-similaires?----------------*/
/*-------------CONFIRMATION-PAGE----------------*/

/*-------------COMPTE-PAGE----------------*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.create-account {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 70%;
    width: 45%;
    min-width: 330px;
    background-color: white;
    border: rgb(49, 49, 49) solid 1px;
    box-shadow: $bg-secondary 2px 2px 10px;
    border-radius: 30px;
    @include litle-smartphone {
        min-width: 250px;
    }
    &-title {
        font-size: 1.7rem;
        margin: 20px 0;
        @include litle-smartphone {
            font-size: 1.2rem;
        }
    }
    &-input {
        background: rgb(221, 230, 233);
        border: none;
        width: 100%;
        height: 30px;
        border-radius: 10px;
        margin-top: 8px;
        &:focus {
            border: lime solid 1.5px;
        }
    }
    &-subtext {
        visibility: hidden;
        font-size: 0.75rem;
        margin-top: 5px;
        margin-bottom: 15px;
        color: red;
        opacity: 0;
        transition: 0.2s;
        text-align: center;
    }
}

.last-first-name-container, .email-container, .password-container, .confirm-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    text-align: center;
}

input[type="submit"] {
    font-size: 1.3rem;
    width: 40%;
    height: 40px;
    align-self: center;
    margin: 20px 0;
    box-shadow: grey 1px 1px 5px;
    @include all-btn;
}

h5 {
    visibility: hidden;
    height: 4px;
    background: red;
    margin: 3px 68% 0 0;
    transition: 0.4s;
}

.error {
    & input {
        color: red;
        border: rgb(207, 37, 37) solid 1px;
        &:focus {
            border: red solid 2px;
        }
    }
    & span {
        visibility: visible;
        color: red;
        opacity: 1;
    }
}

.progressRed {
    visibility: visible;
    background: red;
    width: 33%;
}

.progressBlue {
    visibility: visible;
    background: #17b5b8;
    margin-right: 33%;
    width: 66%;
}

.progressGreen {
    visibility: visible;
    background: rgb(24, 187, 24);
    margin-right: 0;
    width: 100%;
}

/*-------------COMPTE-PAGE----------------*/