
/*-----------HEADER-------------*/

header {
    background: $bg-gradient;
}

.header-header {
    display: flex;
    justify-content: space-around;
    @include large-smartphone {
        flex-direction: column;
        align-items: center;
    }
}

.logo, .logo a {
    font-size: 3rem;
    font-family: 'Dancing Script', cursive;
    @include large-smartphone {
        font-size: 4rem;
        margin-bottom: 15px;
    }
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    width: 35%;
    @include tablet {
        margin-left: 20px;
    }
    @include large-smartphone {
        width: 85%;
    }
    &-input {
        width: 100%;
        height: 30px;
        font-size: 1.1rem;
    }
    &-icon {
        height: 34px;
        margin-left: -5px;
        font-size: 1.2rem;
        background: white;
        border: none;
        border-left: $border;
        cursor: pointer;
        transition: .3s;
        &:hover {
            filter: brightness(85%);
        }
    }
}

.comptes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    @include large-smartphone {
        justify-content: space-around;
        width: 80%;
        margin: 20px 0;
    }
    &-container {
        text-align: center;
        margin: 13px;
        font-size: 1.1rem;
        transition: .2s;
        @include tablet {
            font-size: .95rem;
            margin: 10px;
        }
        @include large-smartphone {
            font-size: 1.2rem;
        }
        @include smartphone {
            font-size: 1rem;
        }
        &:hover {
            filter: brightness(85%);      
            cursor: pointer;
        } 
    }
}

.fa-heart, .fa-user, .fa-shopping-cart {
    color: white;
    padding-bottom: 5px;
}

.compte-text a {
    color: white;
}

.header-products-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    font-size: 1.2rem;
    background: rgb(238, 193, 199);
    margin: 0;
    padding: 5px 0;
    border-bottom: $border;
    @include large-smartphone {
        font-size: 1rem;
    }
    @include smartphone {
        text-align: center;
        font-size: .9rem;
    }
    & li {
        @include smartphone {
            margin: 0 5px;
        }
    }
    & li:hover {
        text-decoration: underline;
    }
}

/*-------------HEADER-panier----------------*/

.header-panier {
    &-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        @include tablet {
            width: 60%;
        }
        @include large-smartphone {
            width: 100%;
            margin: 20px 0;
        }
    }
    &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
        @include smartphone {
            font-size: .9rem;
        }
        & .fa-shopping-cart {
            color: lightgray;
        }
    }
    &-text {
        color:lightgray;
        font-size: 1.1rem;
        @include smartphone {
            font-size: .9rem;
        }
    }
    &-separator {
        margin: 0 7px;
        font-size: 1.5rem;
        color: white;
        @include smartphone {
            font-size: 1.1rem;
        }
    }
}

.header-livraison-text {
    color: white;
    font-size: 1.1rem;
    @include smartphone {
        font-size: .9rem;
        text-align: center;
    }
}

.fa-truck {
    color: white;
    padding-bottom: 5px;
}

/*-------------HEADER-panier----------------*/
/*-----------FOOTER-------------*/

.faq {
    width: 90%;
    height: 75px;
    margin: 50px auto 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: $bg-gradient;
    @include smartphone {
        width: 100%;
    }
    &-title {
        font-size: 2.2rem;
        letter-spacing: 3px;
        text-decoration: underline;
        @include large-smartphone {
            font-size: 1.8rem;
        }
        @include smartphone {
            display: none;
        }
    }
    &-text {
        font-size: 1.2rem;
        margin-left: -40px;
        width: 55%;
        text-align: center;
        @include tablet {
            font-size: 1rem;
            margin-left: -20px;
        }
        @include smartphone {
            font-size: .9rem;
        }
    }
    &-btn {
        width: 10%;
        height: 35px;
        margin-left: -20px;
        font-size: 1.3rem;
        @include all-btn;
        @include large-smartphone {
            width: 15%;
        }
        @include smartphone {
            width: 20%;
        }
    }
}

.social {
    &-newletter {
        display: flex;
        justify-content: space-around;
        text-align: center;
        background: $bg-secondary;
        padding-bottom: 20px;
        @include large-smartphone {
            flex-direction: column;
            align-items: center;
        }
    }
    &-media {
        width: 35%;
        margin-left: 50px;
        @include tablet {
            margin-left: 10px;
        }
        @include large-smartphone {
            width: 90%;
        }
        &-title {
            font-size: 1.5rem;
        }
        &-text {
            font-size: .9rem;
        }
        &-list {
            display: flex;
            justify-content: space-around;
            font-size: 1.6rem;
            padding: 0;
        }
    }
}

.fa-facebook, .fa-twiter, .fa-youtube, .fa-instagram {
    transition: .3s;
    &:hover {
        color: white;
    }
}

.newletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    border-left: $border;
    @include tablet {
        width: 55%;
    }
    @include large-smartphone {
        width: 90%;
        border-left: none;
        border-top: $border;
    }
    &-title {
        font-size: 1.5rem;
        margin-bottom: 0;
    }
    &-text {
        font-size: .9rem;
        width: 80%;
        margin: 20px 0;
        @include large-smartphone {
            width: 90%;
        }
    }
    &-email-container {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }
    &-email {
        width: 40%;
        height: 22px;
        font-size: 1.2rem;
        padding-left: 5px;
        @include smartphone {
            width: 60%;
        }
    }
    &-btn {
        height: 28px;
        margin-left: -5px;
        cursor: pointer;
    }
    & label {
        margin-top: 10px;
    }
}

.footer-footer-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: $bg-secondary ;
    height: 45px;
    padding: 0;
    margin: 0;
    border-top: $border;
    @include large-smartphone {
        flex-wrap: wrap;
        font-size: .9rem;
    }
    @include large-smartphone {
        height: 55px;
    }
    @include smartphone {
        font-size: .75rem;
    }
    & li {
        @include large-smartphone {
            margin: 5px 10px 2px;
        }
    }
    & li:hover {
        text-decoration: underline;
    }
}